{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.shortDescription }}{% endblock %}
{% block og_title %}{{ article.title }}{% endblock %}
{% block og_description %}{{ article.shortDescription }}{% endblock %}
{% block og_image %}{{ asset('images/pages/blog/articles/' ~ (article.coverImage ?: 'blog-default.webp')) }}{% endblock %}
{% block twitter_title %}{{ article.title }}{% endblock %}
{% block twitter_description %}{{ article.shortDescription }}{% endblock %}
{% block twitter_image %}{{ asset('images/pages/blog/articles/' ~ (article.coverImage ?: 'blog-default.webp')) }}{% endblock %}

{% block content %}
    {%  include "components/blog/show/breadcrumb.html.twig" with {
        'title': article.title,
    } %}
    <article>
        <section id="blog-article" class="blog-article">
            <div class="fade-in-effects-initial"
                 data-animation-fade-in-target="fadeIn"
                 data-animation="fade-in-up-effects"
            >
                <div class="blog-article__header fade-in-effects-initial"
                     data-animation-fade-in-target="fadeIn"
                     data-animation="fade-in-up-effects"
                >
                    <h1 class="blog-article__header-title">{{ article.title }}</h1>

                    <div class="blog-article__header-image">
                        <img src="{{ asset('images/pages/blog/articles/' ~ (article.coverImage ?: 'default.webp')) }}" alt="{{ article.coverImageAltText }}" />
                    </div>

                    <div class="blog-article__header-tags">
                        {% for tag in article.tags %}
                            <span class="blog-article__tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="blog-article__content">
                    {{ article.content|raw }}
                </div>

                {% if article.resourceLinks|length > 0 %}
                    <div class="blog-article__links">
                        <h2 class="blog-article__links-title">{{ 'blog.related_resources'|trans }}</h2>
                        <ul class="blog-article__links-list">
                            {% for link in article.resourceLinks %}
                                <li class="blog-article__links-item">
                                    <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer" class="blog-article__links-link">
                                        {{ link.text }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="blog-article__footer">
                    <p class="blog-article__footer-date">{{ 'blog.last_update' | trans }} {{ article.updatedAt }}</p>
                </div>

                <a class="blog-article__btn" href="{{ path('app_blog_index') }}" aria-label="{{ 'blog.discover_more_aria' | trans }}">
                    <button class="btn fade-in-effects-initial" type="button">
                        {{ 'blog.discover_more' | trans }}
                    </button>
                </a>
            </div>
        </section>
    </article>
{% endblock %}