{% set title = title|default('Titre du projet') %}
{% set description = description|default('Description du projet') %}
{% set image = image|default('images/portfolio/portfolio-default.webp') %}
{% set tags = tags|default([]) %}

<div class="fade-in-effects-initial blog__container-posts-card scale-effects"
     data-animation-fade-in-target="fadeIn"
     data-animation="fade-in-up-effects"
     data-card-target="card"
     data-action="click->card#pressCard"
     data-url="{{ path('app_blog_show', {'slug': related_blog_post_slug}) }}"
>
    <div class="home-portfolio__container-projects-card-image">
        <img src="{{ asset(image) }}" alt="{{ title }} - {{ description }}">
        <div class="home-portfolio__container-projects-card-image-title">
            <h3 class="home-portfolio__container-projects-card-content-title">{{ title }}</h3>
        </div>
        <div class="home-portfolio__container-projects-card-image-tags">
            {% for tag in tags|slice(0, 5) %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
            {% if tags|length > 5 %}
                <span class="tag">+{{ tags|length - 5 }} autre{% if tags|length > 6 %}s{% endif %}</span>
            {% endif %}
        </div>
    </div>
    <div class="home-portfolio__container-projects-card-content">
        <p class="home-portfolio__container-projects-card-content-description">{{ description }}</p>
    </div>
</div>