<section id="home-hero" class="home-hero__container">
    <div class="fade-in-effects-initial home-hero__container-image"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-left-effects"
    >
        <img src="{{ asset('images/home-hero-illustration.webp') }}" alt="{{ 'home.hero.image_alt' | trans({'%info.author.name%': 'info.author.name' | trans, '%info.site.title%': 'info.site.title' | trans}) }}">
    </div>

    <div class="fade-in-effects-initial home-hero__container-presentation"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-up-effects"
    >
        <div class="home-hero__container-presentation-title">
            <h2 class="home-hero__container-presentation-title-main">
                {{ 'info.author.name' | trans }}
            </h2>
            <h3 class="home-hero__container-presentation-title-secondary">
                {{ 'home.hero.title_secondary' | trans }}
            </h3>
        </div>

        <div class="home-hero__container-presentation-description">
            <p>{{ 'home.hero.presentation.text1' | trans }}</p>
            <br>
            <p>{{ 'home.hero.presentation.text2' | trans }}</p>
            <br>
            <p>{{ 'home.hero.presentation.text3' | trans }}</p>
        </div>

        {% include "components/buttons/btn-scroll-to-next-section.html.twig" with {
            'data_target': '#home-portfolio',
            'aria_label': 'navigation.portfolio_aria' | trans({'%info.author.name%': 'info.author.name' | trans})
        } %}
    </div>
</section>