<section id="home-hero" class="home-hero__container">
    <div class="home-hero__container-content">
        <div class="fade-in-effects-initial home-hero__container-content-image"
             data-animation-fade-in-target="fadeIn"
             data-animation="fade-in-left-effects"
        >
            <img src="{{ asset('images/home-hero-illustration.webp') }}" alt="{{ 'home.hero.image_alt' | trans({'%info.author.name%': 'info.author.name' | trans, '%info.site.title%': 'info.site.title' | trans}) }}">
        </div>

        <div class="home-hero__container-content-presentation">
            <div class="home-hero__container-content-presentation-title"
                 data-controller="animation-text"
                 data-animation-text-initial-delay-value="100"
                 data-animation-text-delay-value="25"
                 data-animation-text-stagger-delay-value="150"
            >
                <h1 class="home-hero__container-content-presentation-title-main"
                    data-animation-text-target="text">
                    {{ 'info.author.name' | trans }}test2222
                </h1>
                <h2 class="home-hero__container-content-presentation-title-secondary"
                    data-animation-text-target="text">
                    {{ 'home.hero.title_secondary' | trans }}
                </h2>
            </div>

            <div class="home-hero__container-content-presentation-description">
                <p class="fade-in-effects-initial"
                   data-animation-fade-in-target="fadeIn"
                   data-animation="fade-in-up-effects">
                    {{ 'home.hero.presentation.text1' | trans }}
                </p>
                <p class="fade-in-effects-initial"
                   data-animation-fade-in-target="fadeIn"
                   data-animation="fade-in-up-effects">
                    {{ 'home.hero.presentation.text2' | trans }}
                </p>
            </div>

            <div class="home-hero__container-content-presentation-cta fade-in-effects-initial"
                 data-animation-fade-in-target="fadeIn"
                 data-animation="fade-in-up-effects">
                <button class="btn-hero-cta-primary btn"
                    type="button"
                    aria-label="{{ 'home.hero.buttons.discover_projects_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}"
                    data-controller="scroll"
                    data-action="click->scroll#scrollToSection"
                    data-target="#home-portfolio"
                >
                    {{ 'home.hero.buttons.discover_projects' | trans }}
                </button>

                <button class="btn-hero-cta-secondary btn"
                    type="button"
                    aria-label="{{ 'home.hero.buttons.lets_talk_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}"
                    data-controller="scroll"
                    data-action="click->scroll#scrollToSection"
                    data-target="#home-contact"
                >
                    {{ 'home.hero.buttons.lets_talk' | trans }}
                </button>
            </div>
        </div>
    </div>

    {% include "components/buttons/btn-scroll-to-next-section.html.twig" with {
        'data_target': '#home-portfolio',
        'aria_label': 'navigation.portfolio_aria' | trans({'%info.author.name%': 'info.author.name' | trans})
    } %}
</section>