{% set quote = quote|default('Citation') %}
{% set author_firstname = author_firstname|default('Prénom de l\'auteur') %}
{% set author_lastname = author_lastname|default('Nom de l\'auteur') %}
{% set author_company = author_company|default(false) %}
{% set author_role = author_role|default(false) %}
{% set publication_date = publication_date|default('(Date de publication)') %}
{% set publication_source = publication_source|default('Source') %}
{% set quoteId = quoteId|default('home-reviews-quote-' ~ random(1, 999)) %}
{% set classActive = classActive|default(false) %}

<div class="home-reviews__container-carousel-item {% if classActive %}active{% endif %}" data-reviews-carousel-target="item">
    <div class="home-reviews__container-carousel-item-quote">
        <svg role="img" aria-labelledby="{{ quoteId }}" viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg"><path d="M9.00018 9C9.2654 9 9.51975 8.89464 9.70729 8.70711C9.89483 8.51957 10.0002 8.26522 10.0002 8V5.558C10.0002 5.29278 9.89483 5.03843 9.70729 4.85089C9.51975 4.66336 9.2654 4.558 9.00018 4.558H7.61218C7.61218 4.20667 7.63285 3.85533 7.67418 3.504C7.73618 3.132 7.83952 2.80133 7.98418 2.512C8.12885 2.22267 8.31518 1.995 8.54318 1.829C8.76985 1.643 9.05918 1.55 9.41118 1.55V0C8.83252 0 8.32585 0.124 7.89118 0.372C7.45952 0.616875 7.08866 0.955955 6.80618 1.364C6.52179 1.81315 6.31239 2.30559 6.18618 2.822C6.05857 3.39174 5.99616 3.97415 6.00018 4.558V8C6.00018 8.26522 6.10554 8.51957 6.29308 8.70711C6.48061 8.89464 6.73497 9 7.00018 9H9.00018ZM3.00018 9C3.2654 9 3.51975 8.89464 3.70729 8.70711C3.89483 8.51957 4.00018 8.26522 4.00018 8V5.558C4.00018 5.29278 3.89483 5.03843 3.70729 4.85089C3.51975 4.66336 3.2654 4.558 3.00018 4.558H1.61218C1.61218 4.20667 1.63285 3.85533 1.67418 3.504C1.73685 3.132 1.84018 2.80133 1.98418 2.512C2.12885 2.22267 2.31518 1.995 2.54318 1.829C2.76985 1.643 3.05918 1.55 3.41118 1.55V0C2.83252 0 2.32585 0.124 1.89118 0.372C1.45952 0.616875 1.08866 0.955955 0.806182 1.364C0.521793 1.81315 0.31239 2.30559 0.186182 2.822C0.0585659 3.39174 -0.00383526 3.97415 0.000182295 4.558V8C0.000182295 8.26522 0.105539 8.51957 0.293075 8.70711C0.480612 8.89464 0.734966 9 1.00018 9H3.00018Z"/></svg>
        <p id="{{ quoteId }}">
            {{ quote }}
        </p>
    </div>
    <hr>
    <div class="home-reviews__container-carousel-item-infos">
        <p class="home-reviews__container-carousel-item-infos-author">
            {{ author_firstname }} {{ author_lastname|first }}. {% if author_company %}- {% endif %}
            {% if author_role and author_company %}{{ author_role }} {{ author_company }}{% endif %}
            {% if not author_role and author_company %}{{ author_company }}{% endif %}
        </p>
        <p class="home-reviews__container-carousel-item-infos-source">
            Publié le {{ publication_date }} sur {{ publication_source}}
        </p>
    </div>

    <!-- Mobile infos -->
    <div class="home-reviews__container-carousel-item-infos-mobile">
        <p class="home-reviews__container-carousel-item-infos-mobile-author">
            {{ author_firstname }} {{ author_lastname|first }}.
        </p>
        {% if author_company %}
            <p class="home-reviews__container-carousel-item-infos-mobile-company">
                {% if author_role and author_company %}{{ author_role }} {{ author_company }}{% endif %}
                {% if not author_role and author_company %}{{ author_company }}{% endif %}
            </p>
        {% endif %}
        <p class="home-reviews__container-carousel-item-infos-mobile-source">
            {{ publication_date }} - {{ publication_source}}
        </p>
    </div>
</div>
