{% extends 'base.html.twig' %}

{% block title %}{{ 'post_review.title' | trans }} - {{ 'info.site.title' | trans }}{% endblock %}

{% block content %}
    {% include "components/post-review/breadcrumb.html.twig" %}

    <section id="post-review" class="post-review__container">
        <div class="fade-in-effects-initial"
             data-animation-fade-in-target="fadeIn"
             data-animation="fade-in-up-effects"
        >
            <div class="section-title link-effects post-review__container-title"
                 data-action="click->scroll#scrollToSection"
                 data-target="post-review"
            >
                {% embed 'assets/svg/discussion.html.twig' %}
                    {% block attributes %}
                        role="button"
                        aria-labelledby="post-review__container-title-h2"
                    {% endblock %}
                {% endembed %}
                <h1 id="post-review__container-title-h2">{{ 'post_review.title' | trans }}</h1>
            </div>
        </div>

        <div class="form-container"
             data-controller="form"
             data-form-sending-value="{{ 'form.submission'|trans }}"
             data-form-error-value="{{ 'form.review.error'|trans }}"
             data-form-validation-error-value="{{ 'form.validation_error'|trans }}"
             data-form-rate-limited-value="{{ rateLimited ? 'true' : 'false' }}"
             data-form-retry-after-value="{{ retryAfter }}"
             data-form-blocked-text-value="{{ 'form.rate_limit_blocked'|trans }}"
        >
            {{ form_start(reviewForm, {
                'attr': {
                    'class': 'fade-in-effects-initial post-review__container-form',
                    'data-animation-fade-in-target': 'fadeIn',
                    'data-animation': 'fade-in-up-effects',
                    'data-turbo': 'false',
                    'data-form-target': 'form',
                    'data-action': 'submit->form#submitForm'
                }
            }) }}

            <div class="form-identity">
                <span>{{ 'post_review.form.identity' | trans }}*</span>
                <div class="form-identity-group">
                    <div>
                        {{ form_widget(reviewForm.authorFirstname) }}
                        {{ form_errors(reviewForm.authorFirstname) }}
                    </div>
                    <div>
                        {{ form_widget(reviewForm.authorLastname) }}
                        {{ form_errors(reviewForm.authorLastname) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <span>{{ form_label(reviewForm.authorCompany) }} ({{ 'actions.optional' | trans | lower }})</span>
                {{ form_widget(reviewForm.authorCompany) }}
                {{ form_errors(reviewForm.authorCompany) }}
            </div>

            <div class="form-group">
                <span>{{ form_label(reviewForm.authorJob) }} ({{ 'actions.optional' | trans | lower }})</span>
                {{ form_widget(reviewForm.authorJob) }}
                {{ form_errors(reviewForm.authorJob) }}
            </div>

            <div class="form-group">
                <span>{{ form_label(reviewForm.content) }}*</span>
                {{ form_widget(reviewForm.content) }}
                {{ form_errors(reviewForm.content) }}
            </div>

            <button class="btn"
                    type="submit"
                    data-form-target="submit"
                    aria-label="{{ 'post_review.publish_review' | trans }}">
                {{ 'post_review.publish_review' | trans }}
            </button>

            <div class="form-infos">
                <p>*{{ 'post_review.form.privacy_notice1' | trans }}</p>
                <p>*{{ 'post_review.form.privacy_notice2' | trans }}</p>
            </div>

            {{ form_end(reviewForm) }}
        </div>

        {% include "components/buttons/btn-go-to-home.html.twig" %}
    </section>
{% endblock %}