{% extends "base.html.twig" %}

{% block title %}{{ 'navigation.sitemap' | trans }} - {{ 'info.site.title' | trans }}{% endblock %}

{% block content %}
    {%  include "components/sitemap/breadcrumb.html.twig" %}

    <section id="sitemap-page" class="sitemap-page__container">
        <div class="fade-in-effects-initial"
             data-animation-fade-in-target="fadeIn"
             data-animation="fade-in-up-effects"
        >
            <div class="section-title link-effects"
                 data-target="sitemap-page"
                 data-action="click->scroll#scrollToSection"
            >
                {% embed 'assets/svg/sitemap.html.twig' %}
                    {% block attributes %}
                        aria-labelledby="sitemap-page-title"
                    {% endblock %}
                {% endembed %}
                <h1 id="sitemap-page-title">{{ 'sitemap.title' | trans }}</h1>
            </div>
        </div>

        <div class="sitemap-page__container-urls-list">
            {% for url in urls %}
                <div class="fade-in-effects-initial sitemap-page__container-urls-list-item"
                     data-animation-fade-in-target="fadeIn"
                     data-animation="fade-in-up-effects"
                >
                    <button class="btn" aria-label="{{ 'navigation.go_to_page' | trans }} {{ url }}"
                        data-url="{{ url }}"
                        data-action="click->navigation#redirect"
                    >
                        {{ url }}
                    </button>
                </div>
            {% endfor %}
        </div>

        {% include "components/buttons/btn-return-to-home.html.twig" %}
    </section>
{% endblock %}