{% extends 'base.html.twig' %}

{% block robots %}noindex, follow{% endblock %}
{% block title %}{{ 'page_legal_notice_title' | trans }}{% endblock %}

{% block content %}
    <section id="legal-notice" class="legal-pages__container">
        <div class="fade-in-effects-initial" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <div class="section-title link-effects" data-target="legal-notice" data-action="click->scroll-to-section#scrollToSection">
                <svg role="img" aria-labelledby="legal-notice-title" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M318.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-120 120c-12.5 12.5-12.5 32.8 0 45.3l16 16c12.5 12.5 32.8 12.5 45.3 0l4-4L325.4 293.4l-4 4c-12.5 12.5-12.5 32.8 0 45.3l16 16c12.5 12.5 32.8 12.5 45.3 0l120-120c12.5-12.5 12.5-32.8 0-45.3l-16-16c-12.5-12.5-32.8-12.5-45.3 0l-4 4L330.6 74.6l4-4c12.5-12.5 12.5-32.8 0-45.3l-16-16zm-152 288c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l48 48c12.5 12.5 32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-1.4-1.4L272 285.3 226.7 240 168 298.7l-1.4-1.4z"/></svg>
                <h2 id="legal-notice-title">{{ 'legal_notice' | trans }}</h2>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <h3 class="legal-pages__container-block-title">{{ 'legal_notice' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_legal_notice_section1_text1' | trans }}
                </p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <h3 class="legal-pages__container-block-title">{{ 'page_legal_notice_section2_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_legal_notice_section2_text1' | trans }}
                </p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <h3 class="legal-pages__container-block-title">{{ 'page_legal_notice_section3_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <ul>
                    <li>{{ 'page_legal_notice_section3_text1' | trans }}</li>
                    <li>{{ 'page_legal_notice_section3_text2' | trans }}</li>
                    <li>{{ 'page_legal_notice_section3_text3' | trans }}</li>
                    <li>{{ 'page_legal_notice_section3_text4' | trans }}</li>
                    <li>{{ 'page_legal_notice_section3_text5' | trans }}</li>
                    <li>
                        {{ 'page_legal_notice_section3_text6' | trans }}
                        <a href="mailto:contact@gaelpaquien.com" aria-label="{{ 'send_mail' | trans }}">
                            {{ 'author_mail' | trans }}
                        </a>
                    </li>
                    <li>
                        {{ 'page_legal_notice_section3_text7' | trans }}
                        <a href="tel:0634068636" aria-label="{{ 'call' | trans }}">
                            {{ 'author_phone' | trans }}
                        </a>
                    </li>
                    <li>
                        {{ 'page_legal_notice_section3_text8' | trans }}
                        <a href="{{ path('app_main_index') }}" aria-label="{{ 'return_to_home' | trans }}">
                            {{ 'site_url' | trans }}
                        </a>
                    </li>
                    <li>{{ 'page_legal_notice_section3_text9' | trans }}</li>
                </ul>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block"  data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <h3 class="legal-pages__container-block-title">{{ 'page_legal_notice_section4_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <ul>
                    <li>{{ 'page_legal_notice_section4_text1' | trans }}</li>
                    <li>
                        {{ 'page_legal_notice_section4_text2' | trans }} 
                        <a href="https://www.o2switch.fr" target="_blank" rel="noopener" aria-label="{{ 'page_legal_notice_section4_text3_aria' | trans }}">
                            {{ 'page_legal_notice_section4_text3' | trans }}
                        </a>
                    </li>
                    <li>{{ 'page_legal_notice_section4_text4' | trans }}</li>
                </ul>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <h3 class="legal-pages__container-block-title">{{ 'page_legal_notice_section5_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_legal_notice_section5_text1' | trans }}
                </p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <h3 class="legal-pages__container-block-title">{{ 'page_legal_notice_section6_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_legal_notice_section6_text1' | trans }}
                </p>
                <br>
                <p>
                    {{ 'page_legal_notice_section6_text2' | trans }}
                </p>
                <ul>
                    <li>
                        <a href="https://www.freepik.com/free-vector/round-brushes-6_35202634.htm#query=circle&position=2&from_view=search&track=sph&uuid=871e163e-a763-4c27-95e5-35e6c9e3ddce" target="_blank" rel="noopener" 
                        aria-label="{{ 'page_legal_notice_section6_text3_aria' | trans }}">
                            {{ 'page_legal_notice_section6_text3' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="https://www.zetafonts.com/amazing-grotesk" target="_blank" rel="noopener" 
                        aria-label="{{ 'page_legal_notice_section6_text4_aria' | trans }}">
                            {{ 'page_legal_notice_section6_text4' | trans }}
                        </a>
                    </li>
                </ul>
                <br>
                <p>
                    {{ 'page_legal_notice_section6_text5' | trans }}
                </p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <h3 class="legal-pages__container-block-title">{{ 'page_legal_notice_section7_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_legal_notice_section7_text1' | trans }}
                </p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <h3 class="legal-pages__container-block-title">{{ 'page_legal_notice_section8_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_legal_notice_section8_text1' | trans }}
                </p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <h3 class="legal-pages__container-block-title">{{ 'page_legal_notice_section9_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_legal_notice_section9_text1' | trans }}
                </p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <h3 class="legal-pages__container-block-title">{{ 'page_legal_notice_section10_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_legal_notice_section10_text1' | trans }}
                </p>
                <ul>
                    <li>
                        {{ 'page_legal_notice_section10_list1_item1' | trans }}
                    </li>
                    <li>
                        {{ 'page_legal_notice_section10_list1_item2' | trans }}
                    </li>
                    <li>
                        {{ 'page_legal_notice_section10_list1_item3' | trans }}
                    </li>
                </ul>
                <p>{{ 'page_legal_notice_section10_text2' | trans }}</p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <h3 class="legal-pages__container-block-title">{{ 'page_legal_notice_section11_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_legal_notice_section11_text1' | trans }}
                </p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <h3 class="legal-pages__container-block-title">{{ 'page_legal_notice_section12_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_legal_notice_section12_text1' | trans }}
                    <a href="{{ path('app_main_privacy_policy') }}" aria-label="{{ 'privacy_policy_aria' | trans }}">
                        {{ 'privacy_policy' | trans }}
                    </a>.
                </p>
            </div>
        </div>

        {% include "components/buttons/btn-return-to-home.html.twig" %}
    </section>
{% endblock %}