{% extends 'base.html.twig' %}

{% block robots %}noindex, follow{% endblock %}
{% block title %}{{ 'page_privacy_policy_title' | trans }}{% endblock %}

{% block content %}
    <section id="privacy-policy" class="legal-pages__container">
        <div class="fade-in-effects-initial"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-up-effects"
        >
            <div class="section-title link-effects"
                data-target="privacy-policy"
                data-action="click->scroll#scrollToSection"
            >
                {% embed 'assets/svg/shield.html.twig' %}
                    {% block attributes %}
                        aria-labelledby="privacy-policy-title"
                    {% endblock %}
                {% endembed %}
                <h2 id="privacy-policy-title">{{ 'privacy_policy' | trans }}</h2>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block"
             data-animation-fade-in-target="fadeIn"
             data-animation="fade-in-up-effects"
        >
            <h3 class="legal-pages__container-block-title">{{ 'privacy_policy' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>{{ 'page_privacy_policy_section1_text1' | trans }}</p>
                <br>
                <span>{{ 'page_privacy_policy_section1_list1_title' | trans }}</span>
                <ul>
                    <li>{{ 'page_privacy_policy_section1_list1_item1' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list1_item2' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list1_item3' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list1_item4' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list1_item5' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list1_item6' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list1_item7' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list1_item8' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list1_item9' | trans }}</li>
                </ul>
                <br>
                <span>{{ 'page_privacy_policy_section1_list2_title' | trans }}</span>
                <ul>
                    <li>{{ 'page_privacy_policy_section1_list2_item1' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list2_item2' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list2_item3' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list2_item4' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list2_item5' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list2_item6' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list2_item7' | trans }}</li>
                    <li>{{ 'page_privacy_policy_section1_list2_item8' | trans }}</li>
                </ul>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-up-effects"
        >
            <h3 class="legal-pages__container-block-title">{{ 'page_privacy_policy_section2_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_privacy_policy_section2_text1' | trans }}
                    <a class="link-effects" href="{{ path('app_main_legal_notice') }}" aria-label="{{ 'legal_notice_aria' | trans }}">
                        {{ 'legal_notice' | trans }}
                    </a>
                    ).
                </p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-up-effects"
        >
            <h3 class="legal-pages__container-block-title">{{ 'page_privacy_policy_section3_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>{{ 'page_privacy_policy_section3_text1' | trans }}</p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-up-effects"
        >
            <h3 class="legal-pages__container-block-title">{{ 'page_privacy_policy_section4_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>{{ 'page_privacy_policy_section4_text1' | trans }}</p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-up-effects"
        >
            <h3 class="legal-pages__container-block-title">{{ 'page_privacy_policy_section5_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>{{ 'page_privacy_policy_section5_text1' | trans }}</p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-up-effects"
        >
            <h3 class="legal-pages__container-block-title">{{ 'page_privacy_policy_section6_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_privacy_policy_section6_text1' | trans }} (
                    <a href="mailto:contact@gaelpaquien.com" aria-label="{{ 'send_mail' | trans }}">
                        {{ 'author_mail' | trans }}
                    </a>
                    ).
                </p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-up-effects"
        >
            <h3 class="legal-pages__container-block-title">{{ 'page_privacy_policy_section7_title' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>{{ 'page_privacy_policy_section7_text1' | trans }}</p>
            </div>
        </div>

        <div class="fade-in-effects-initial legal-pages__container-block"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-up-effects"
        >
            <h3 class="legal-pages__container-block-title">{{ 'legal_notice' | trans }}</h3>
            <div class="legal-pages__container-block-content">
                <p>
                    {{ 'page_privacy_policy_section8_text1' | trans }}
                    <a href="{{ path('app_main_legal_notice') }}" aria-label="{{ 'legal_notice_aria' | trans }}">
                        {{ 'legal_notice' | trans }}
                    </a>.
                </p>
            </div>
        </div>

        {% include "components/buttons/btn-return-to-home.html.twig" %}
    </section>
{% endblock %}