{% extends "base.html.twig" %}

{% block robots %}index, follow{% endblock %}
{% block title %}{{ 'page_sitemap_title' | trans }}{% endblock %}

{% block content %}
    <section id="sitemap-page" class="sitemap-page__container">
        <div class="fade-in-effects-initial"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-up-effects"
        >
            <div class="section-title link-effects"
                data-target="sitemap-page"
                data-action="click->scroll#scrollToSection"
            >
                {% embed 'assets/svg/sitemap.html.twig' %}
                    {% block attributes %}
                        aria-labelledby="sitemap-page-title"
                    {% endblock %}
                {% endembed %}
                <h2 id="sitemap-page-title">{{ 'sitemap' | trans }}</h2>
            </div>
        </div>

        <div class="sitemap-page__container-urls-list">
            {% for url in urls %}
                <div class="fade-in-effects-initial sitemap-page__container-urls-list-item"
                    data-animation-fade-in-target="fadeIn"
                    data-animation="fade-in-up-effects"
                >
                    <button class="btn" aria-label="{{ 'page_sitemap_btn_aria' | trans }} {{ url }}"
                        data-redirect-url-value="{{ url }}"
                        data-action="click->redirect#redirectToUrl"
                    >
                        {{ url }}
                    </button>
                </div>
            {% endfor %}
        </div>

        {% include "components/buttons/btn-return-to-home.html.twig" %}
    </section>
{% endblock %}