{% set quote = quote|default('Citation') %}
{% set author_firstname = author_firstname|default('Prénom de l\'auteur') %}
{% set author_lastname = author_lastname|default('Nom de l\'auteur') %}
{% set author_company = author_company|default(false) %}
{% set author_role = author_role|default(false) %}
{% set publication_date = publication_date|default('(Date de publication)') %}
{% set publication_source = publication_source|default('Source') %}
{% set quoteId = quoteId|default('home-reviews-quote-' ~ random(1, 999)) %}
{% set classActive = classActive|default(false) %}

<div class="home-reviews__container-carousel-item {% if classActive %}active{% endif %}"
     data-reviews-carousel-target="item"
>
    <div class="home-reviews__container-carousel-item-quote">
        {% embed 'assets/svg/quote.html.twig' %}
            {% block attributes %}
                aria-labelledby="{{ quoteId }}"
            {% endblock %}
        {% endembed %}
        <p id="{{ quoteId }}">{{ quote }}</p>
    </div>
    <hr>
    <div class="home-reviews__container-carousel-item-infos">
        <p class="home-reviews__container-carousel-item-infos-author">
            {{ author_firstname }} {{ author_lastname|first }}. {% if author_company %}- {% endif %}
            {% if author_role and author_company %}{{ author_role }} {{ author_company }}{% endif %}
            {% if not author_role and author_company %}{{ author_company }}{% endif %}
        </p>
        <p class="home-reviews__container-carousel-item-infos-source">
            Publié le {{ publication_date }} sur {{ publication_source}}
        </p>
    </div>
    <div class="home-reviews__container-carousel-item-infos-mobile">
        <p class="home-reviews__container-carousel-item-infos-mobile-author">
            {{ author_firstname }} {{ author_lastname|first }}.
        </p>
        {% if author_company %}
            <p class="home-reviews__container-carousel-item-infos-mobile-company">
                {% if author_role and author_company %}{{ author_role }} {{ author_company }}{% endif %}
                {% if not author_role and author_company %}{{ author_company }}{% endif %}
            </p>
        {% endif %}
        <p class="home-reviews__container-carousel-item-infos-mobile-source">
            {{ publication_date }} - {{ publication_source}}
        </p>
    </div>
</div>