<section id="home-reviews" class="home-reviews__container"
         data-controller="reviews-carousel"
         data-reviews-carousel-auto-scroll-interval-value="8000"
>
    <div class="section-title link-effects home-reviews__container-title"
         data-action="click->scroll#scrollToSection"
         data-target="home-reviews"
    >
        {% embed 'assets/svg/star.html.twig' %}
            {% block attributes %}
                role="button"
                aria-labelledby="home-reviews__container-title-h2"
            {% endblock %}
        {% endembed %}
        <h2 id="home-reviews__container-title-h2">{{ 'home.sections.reviews.title' | trans }}</h2>
    </div>

    <div class="home-reviews__container-carousel fade-in-effects-initial"
         data-reviews-carousel-target="reviewsCarousel"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-up-effects"
    >
        <div class="home-reviews__container-carousel-track" data-reviews-carousel-target="wrapper">
            {% for review in reviews|sort((a, b) => a.order <=> b.order) %}
                {% include "components/home/reviews/card.html.twig" with {
                    'author_firstname': review.author_firstname,
                    'author_lastname': review.author_lastname,
                    'author_job': review.author_job ?? null,
                    'author_company': review.author_company ?? null,
                    'content': review.content,
                    'created_at': review.created_at,
                    'source': review.source
                } %}
            {% endfor %}
        </div>

        <div class="home-reviews__container-carousel-navigation">
            <button class="home-reviews__container-carousel-navigation-btn scale-effects"
                    data-action="click->reviews-carousel#previous"
                    aria-label="{{ 'actions.previous_review' | trans }}">
                {% embed 'assets/svg/arrow-left.html.twig' %}
                    {% block attributes %}aria-hidden="true"{% endblock %}
                {% endembed %}
            </button>

            <div class="home-reviews__container-carousel-indicators" data-reviews-carousel-target="indicators">
                {% for i in 0..(reviews|length - 1) %}
                    <button class="home-reviews__container-carousel-indicators-item"
                            data-reviews-carousel-target="indicator"
                            data-action="click->reviews-carousel#goToSlide"
                            data-index="{{ i }}"
                            aria-label="{{ 'actions.go_to_page' | trans }} {{ i+1 }}"
                    ></button>
                {% endfor %}
            </div>

            <button class="home-reviews__container-carousel-navigation-btn scale-effects"
                    data-action="click->reviews-carousel#next"
                    aria-label="{{ 'actions.next_review' | trans }}">
                {% embed 'assets/svg/arrow-right.html.twig' %}
                    {% block attributes %}aria-hidden="true"{% endblock %}
                {% endembed %}
            </button>
        </div>
    </div>

    {% include "components/buttons/btn-scroll-to-next-section.html.twig" with {
        'data_target': '#home-contact',
        'aria_label': 'navigation.contact_aria' | trans({'%info.author.name%': 'info.author.name' | trans})
    } %}
</section>