<section id="home-reviews" class="home-reviews__container"
     data-controller="reviews-carousel"
     data-reviews-carousel-auto-scroll-interval-value="8000"
>
    <div class="fade-in-effects-initial"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-up-effects"
    >
        <div class="section-title link-effects home-reviews__container-title"
             data-action="click->scroll#scrollToSection"
             data-target="home-reviews"
        >
            {% embed 'assets/svg/star.html.twig' %}
                {% block attributes %}
                    role="button"
                    aria-labelledby="home-reviews__container-title-h2"
                {% endblock %}
            {% endembed %}
            <h2 id="home-reviews__container-title-h2">{{ 'home.sections.reviews.title' | trans }}</h2>
        </div>
    </div>

    <div class="home-reviews__container-carousel" data-reviews-carousel-target="reviewsCarousel">
        <div class="home-reviews__container-carousel-track" data-reviews-carousel-target="wrapper">
            {% for review in reviews|sort((a, b) => a.order <=> b.order) %}
                <div class="home-reviews__container-carousel-item"
                     data-reviews-carousel-target="item"
                     data-index="{{ loop.index0 }}"
                     data-action="click->reviews-carousel#clickSlide"
                >
                    <div class="home-reviews__container-carousel-item-content">
                        <blockquote class="home-reviews__container-carousel-item-quote" id="home-reviews-quote-{{ random(1, 999) }}">
                            {% embed 'assets/svg/quote.html.twig' %}
                                {% block attributes %}aria-hidden="true" class="quote-icon"{% endblock %}
                            {% endembed %}
                            {{ review.content }}
                        </blockquote>

                        <hr>

                        <div class="home-reviews__container-carousel-item-infos">
                            <div class="home-reviews__container-carousel-item-infos-author">
                                {{ review.author }}
                                {% if review.author_job is defined and review.author_job %}
                                    - {{ review.author_job }}
                                {% endif %}
                                {% if review.author_company is defined and review.author_company %}
                                    {{ review.author_company }}
                                {% endif %}
                            </div>
                            <div class="home-reviews__container-carousel-item-infos-source">
                                {{ 'home.reviews.publication_info'|trans({'%date%': review.created_at, '%source%': review.source}) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="home-reviews__container-carousel-indicators" data-reviews-carousel-target="indicators">
            {% for i in 0..(reviews|length - 1) %}
                <button class="home-reviews__container-carousel-indicator"
                        data-reviews-carousel-target="indicator"
                        data-action="click->reviews-carousel#goToSlide"
                        data-index="{{ i }}"
                        aria-label="{{ 'actions.go_to_page' | trans }} {{ i+1 }}"
                ></button>
            {% endfor %}
        </div>
    </div>

    {% include "components/buttons/btn-scroll-to-next-section.html.twig" with {
        'data_target': '#home-contact',
        'aria_label': 'navigation.contact_aria' | trans({'%info.author.name%': 'info.author.name' | trans})
    } %}
</section>