<section id="home-reviews" class="home-reviews__container"
         data-controller="reviews-carousel"
         data-reviews-carousel-auto-scroll-interval-value="10000"
>
    <div class="section-title link-effects home-reviews__container-title"
         data-action="click->scroll#scrollToSection"
         data-target="home-reviews"
    >
        {% embed 'assets/svg/star.html.twig' %}
            {% block attributes %}
                role="button"
                aria-labelledby="home-reviews__container-title-h2"
            {% endblock %}
        {% endembed %}
        <h2 id="home-reviews__container-title-h2">{{ 'home.sections.reviews.title' | trans }}</h2>
    </div>

    <div class="home-reviews__container-carousel fade-in-effects-initial"
         data-reviews-carousel-target="reviewsCarousel"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-up-effects"
    >
        <div class="home-reviews__container-carousel-track" data-reviews-carousel-target="wrapper">
            {% for review in reviews %}
                {% include "components/home/reviews/card.html.twig" with {
                    'author_firstname': review.authorFirstName,
                    'author_lastname': review.authorLastName,
                    'author_job': review.authorJobTitle,
                    'author_company': review.authorCompany,
                    'content': review.content,
                    'created_at': review.createdAt,
                    'source': review.source
                } %}
            {% endfor %}
        </div>

        <div class="home-reviews__container-carousel-navigation">
            <button class="home-reviews__container-carousel-navigation-btn"
                    data-action="click->reviews-carousel#previous"
                    aria-label="{{ 'actions.previous' | trans }}">
                {% embed 'assets/svg/arrow-left.html.twig' %}
                    {% block attributes %}aria-hidden="true"{% endblock %}
                {% endembed %}
            </button>

            <div class="home-reviews__container-carousel-indicators" data-reviews-carousel-target="indicators">
                {% for i in 0..(reviews|length - 1) %}
                    <button class="home-reviews__container-carousel-indicators-item"
                            data-reviews-carousel-target="indicator"
                            data-action="click->reviews-carousel#goToSlide"
                            data-index="{{ i }}"
                            aria-label="{{ 'home.sections.reviews.go_to_this_review' | trans }} {{ i+1 }}"
                    ></button>
                {% endfor %}
            </div>

            <button class="home-reviews__container-carousel-navigation-btn"
                    data-action="click->reviews-carousel#next"
                    aria-label="{{ 'actions.next' | trans }}">
                {% embed 'assets/svg/arrow-right.html.twig' %}
                    {% block attributes %}aria-hidden="true"{% endblock %}
                {% endembed %}
            </button>
        </div>
    </div>

    <div class="home-reviews__container-btn btn-cta fade-in-effects-initial"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-up-effects"
    >
        <a href="{{ path('app_review_create') }}" aria-label="{{ 'navigation.reviews_post_aria' | trans }}">
            <button class="btn btn-cta-primary" type="button">
                {{ 'navigation.reviews_post' | trans }}
            </button>
        </a>
        <button class="btn btn-cta-secondary"
                type="button"
                aria-label="{{ 'home.sections.projects.buttons.discuss_aria' | trans }}"
                data-controller="scroll"
                data-action="click->scroll#scrollToSection"
                data-target="#home-contact"
        >
            {{ 'home.hero.buttons.lets_talk' | trans }}
        </button>
    </div>

    {% include "components/buttons/btn-scroll-to-next-section.html.twig" with {
        'data_target': '#home-contact',
        'aria_label': 'navigation.contact_aria' | trans({'%info.author.name%': 'info.author.name' | trans})
    } %}
</section>