<section id="home-reviews" class="home-reviews__container"
     data-controller="reviews-carousel reviews-popup"
     data-reviews-carousel-auto-scroll-interval-value="15000"
>
    <div class="overlay" data-reviews-popup-target="overlay"></div>

    <div class="fade-in-effects-initial"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-up-effects"
    >
        <div class="section-title link-effects home-reviews__container-title"
             data-action="click->scroll#scrollToSection"
             data-target="home-reviews"
        >
            {% embed 'assets/svg/star.html.twig' %}
                {% block attributes %}
                    role="button"
                    aria-labelledby="home-reviews__container-title-h2"
                {% endblock %}
            {% endembed %}
            <h2 id="home-reviews__container-title-h2">{{ 'page_home_reviews_title' | trans }}</h2>
        </div>
    </div>

    <div class="home-reviews__container-carousel" data-reviews-carousel-target="reviewsCarousel">
        <button class="fade-in-effects-initial home-reviews__container-carousel-btn-previous-item" type="button" aria-label="{{ 'page_home_reviews_previous_aria' | trans }}"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-left-effects"
        >
            {% embed 'assets/svg/arrow-left.html.twig' %}
                {% block attributes %}
                    class="icon-effects"
                    aria-hidden="true"
                    data-reviews-carousel-target="previousButton"
                    data-action="click->reviews-carousel#previous"
                {% endblock %}
            {% endembed %}
        </button>

        {% include "components/home/reviews/carousel-item.html.twig" with {
            'quote': 'Gaël a réalisé notre site web "www.rgcleancar.fr" exactement comme nous l\'avions souhaité, communication claire et professionnelle, je recommande !',
            'author_firstname': 'Jérôme',
            'author_lastname': 'Gaviot',
            'author_company': 'RG Clean Car',
            'author_role': 'Cofondateur ',
            'publication_date': '11/01/2024',
            'publication_source': 'gaelpaquien.com',
            'quoteId': 'home-reviews-quote-' ~ random(1, 999),
            'classActive': true
        } %}
        {% include "components/home/reviews/carousel-item.html.twig" with {
            'quote': 'En reconversion professionnelle pour se spécialiser dans le développement web full stack, Gaël a suivi la formation d\'openclassrooms. Le point fort de Gaël est sa détermination : ne rien lâcher et aller toujours au bout des choses. Sérieux, appliqué et rigoureux, il a su monter en compétence rapidement et réussir ses projets avec brio. Je te souhaite une très bonne continuation avec beaucoup de réussite.',
            'author_firstname': 'Thomas',
            'author_lastname': 'Gérault',
            'author_company': 'OpenClassrooms',
            'author_role': 'Mentor',
            'publication_date': '28/06/2021',
            'publication_source': 'LinkedIn',
            'quoteId': 'home-reviews-quote-' ~ random(1, 999)
        } %}

        <button class="fade-in-effects-initial home-reviews__container-carousel-btn-next-item" type="button" aria-label="{{ 'page_home_reviews_next_aria' | trans }}"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-right-effects"
        >
            {% embed 'assets/svg/arrow-right.html.twig' %}
                {% block attributes %}
                    class="icon-effects"
                    aria-hidden="true"
                    data-reviews-carousel-target="nextButton"
                    data-action="click->reviews-carousel#next"
                {% endblock %}
            {% endembed %}
        </button>

        <div class="home-reviews__container-carousel-btn-mobile">
            <button class="btn home-reviews__container-carousel-btn-mobile-previous-item" type="button" aria-label="{{ 'page_home_reviews_previous_aria' | trans }}"
                data-reviews-carousel-target="mobilePreviousButton"
                data-action="click->reviews-carousel#previous"
            >
                {{ 'previous' | trans }}
            </button>

            <button class="btn home-reviews__container-carousel-btn-mobile-next-item" type="button" aria-label="{{ 'page_home_reviews_next_aria' | trans }}"
                data-reviews-carousel-target="mobileNextButton"
                data-action="click->reviews-carousel#next"
            >
                {{ 'next' | trans }}
            </button>
        </div>
    </div>

    <div class="fade-in-effects-initial home-reviews__container-btn-open-popup-add-review"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-up-effects"
    >
        <button id="btn-open-home-reviews-popup" class="btn" type="button" aria-label="{{ 'page_home_reviews_publish' | trans }}" aria-expanded="false"
            data-reviews-popup-target="openButton"
            data-action="click->reviews-popup#open"
        >
            {{ 'page_home_reviews_publish' | trans }}
        </button>
    </div>

    {% include "components/home/reviews/popup.html.twig" %}
    {% include "components/buttons/btn-scroll-to-next-section.html.twig" with {
        'data_target': '#home-contact',
        'aria_label': 'contact_aria' | trans
    } %}
</section>