<section id="home-contact" class="home-contact__container">
    <div class="fade-in-effects-initial"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-up-effects">
        <div class="section-title link-effects home-contact__container-title"
             data-action="click->scroll#scrollToSection"
             data-target="home-contact">
            {% embed 'assets/svg/discussion.html.twig' %}
                {% block attributes %}
                    role="button"
                    aria-labelledby="home-contact__container-title-h2"
                {% endblock %}
            {% endembed %}
            <h2 id="home-contact__container-title-h2">{{ 'home.sections.contact.title' | trans }}</h2>
        </div>
    </div>

    <div class="form-container"
         data-controller="form recaptcha"
         data-form-sending-value="{{ 'form.submission'|trans }}"
         data-form-error-value="{{ 'form.contact.error'|trans }}"
         data-form-validation-error-value="{{ 'form.validation_error'|trans }}"
         data-form-rate-limited-value="{{ rateLimited ? 'true' : 'false' }}"
         data-form-retry-after-value="{{ retryAfter }}"
         data-form-blocked-text-value="{{ 'form.rate_limit_blocked'|trans }}"
         {#data-recaptcha-sitekey-value="{{ google_recaptcha_site_key }}"#}{#data-recaptcha-sitekey-value="{{ google_recaptcha_site_key }}"#}
         data-recaptcha-locale-value="{{ app.request.locale }}"
    >
        {{ form_start(contactForm, {
            'attr': {
                'class': 'fade-in-effects-initial home-contact__container-form',
                'data-animation-fade-in-target': 'fadeIn',
                'data-animation': 'fade-in-up-effects',
                'data-form-target': 'form',
                'data-action': 'submit->form#submitForm',
                'data-turbo': 'false'
            }
        }) }}

        <div class="form-identity">
            <span>{{ 'home.sections.contact.form.identity' | trans }}*</span>
            <div class="form-identity-group">
                <div>
                    {{ form_widget(contactForm.firstName) }}
                    {{ form_errors(contactForm.firstName) }}
                </div>
                <div>
                    {{ form_widget(contactForm.lastName) }}
                    {{ form_errors(contactForm.lastName) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <span>{{ form_label(contactForm.email) }}*</span>
            {{ form_widget(contactForm.email) }}
            {{ form_errors(contactForm.email) }}
        </div>

        <div class="form-group">
        <span>{{ form_label(contactForm.phone) }} ({{ 'actions.optional' | trans | lower }})</span>
            {{ form_widget(contactForm.phone) }}
            {{ form_errors(contactForm.phone) }}
        </div>

        <div class="form-group">
            <span>{{ form_label(contactForm.subject) }}*</span>
            {{ form_widget(contactForm.subject) }}
            {{ form_errors(contactForm.subject) }}
        </div>

        <div class="form-group">
            <span>{{ form_label(contactForm.message) }}*</span>
            {{ form_widget(contactForm.message) }}
            {{ form_errors(contactForm.message) }}
        </div>

        <div class="form-group form-field-website">
            <span>{{ form_label(contactForm.website) }}</span>
            {{ form_widget(contactForm.website) }}
            {{ form_errors(contactForm.website) }}
        </div>

        <div class="form-group">
            <label for="contact_attachment">{{ 'home.sections.contact.form.files' | trans }} ({{ 'actions.optional' | trans | lower }})</label>

            <div data-controller="input-file"
                 data-input-file-choose-file-value="{{ 'home.sections.contact.form.choose_file'|trans }}"
                 data-input-file-no-file-chosen-value="{{ 'home.sections.contact.form.no_file_chosen'|trans }}"
                 data-input-file-one-file-selected-value="{{ 'home.sections.contact.form.one_file_selected'|trans }}"
                 data-input-file-multiple-files-selected-value="{{ 'home.sections.contact.form.multiple_files_selected'|trans }}"
                 data-input-file-duplicate-message-value="{{ 'form.contact.file.duplicate'|trans }}"
                 data-input-file-limit-message-value="{{ 'form.contact.file.limit_reached'|trans }}"
            >

                <div class="custom-file-input-wrapper">
                    <label class="btn custom-file-button" for="contact_attachment">
                        {{ 'home.sections.contact.form.choose_file'|trans }}
                    </label>

                    {{ form_widget(contactForm.attachment, {
                        'attr': {
                            'data-input-file-target': 'input',
                            'style': 'display: none;'
                        }
                    }) }}

                    <span data-input-file-target="display">
                        {{ 'home.sections.contact.form.no_file_chosen'|trans }}
                    </span>
                </div>

                <div class="file-rules">
                    <span class="file-rules-text">
                        {{ 'form.contact.file.rules'|trans }}
                    </span>
                    <span class="file-rules-text">
                        {{ 'form.contact.file.formats'|trans }}
                    </span>
                </div>

                <div class="files-container" data-input-file-target="filesContainer"></div>
            </div>

            {{ form_errors(contactForm.attachment) }}
        </div>

        <div class="form-switch">
            <span class="form-switch-text">{{ form_label(contactForm.receiveCopy) }}</span>
            <label for="{{ contactForm.receiveCopy.vars.id }}" class="form-switch-toggle">
                {{ form_widget(contactForm.receiveCopy) }}
                <span class="form-switch-toggle-slider"></span>
            </label>
        </div>

        {#<div class="form-group">
            <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
            {{ form_errors(contactForm.recaptcha) }}
        </div>#}

        <button class="btn"
                type="submit"
                data-form-target="submit"
                aria-label="{{ 'home.sections.contact.form.submit_button' | trans }}">
            {{ 'home.sections.contact.form.submit_button' | trans }}
        </button>

        <div class="form-infos">
            <p>*{{ 'home.sections.contact.form.privacy_notice' | trans }}</p>
        </div>

        {{ form_end(contactForm) }}
    </div>

    {% include "components/buttons/btn-scroll-to-next-section.html.twig" with {
        'data_target': '#footer',
        'aria_label': 'actions.scroll_to_bottom' | trans
    } %}
</section>
