<section id="home-contact" class="home-contact__container">
    <div class="fade-in-effects-initial"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-up-effects"
    >
        <div class="section-title link-effects home-contact__container-title"
             data-action="click->scroll#scrollToSection"
             data-target="home-contact"
        >
            {% embed 'assets/svg/discussion.html.twig' %}
                {% block attributes %}
                    role="button"
                    aria-labelledby="home-contact__container-title-h2"
                {% endblock %}
            {% endembed %}
            <h2 id="home-contact__container-title-h2">{{ 'home.sections.contact.title' | trans }}</h2>
        </div>
    </div>

    <form class="fade-in-effects-initial home-contact__container-form" action="#" method="post"
          data-animation-fade-in-target="fadeIn"
          data-animation="fade-in-up-effects"
    >
        <div class="form-identity-group">
            <span>{{ 'home.sections.contact.form.identity' | trans }}*</span>
            <div>
                <label for="form-contact-firstname" hidden>{{ 'home.sections.contact.form.first_name' | trans }}</label>
                <input type="text" id="form-contact-firstname" name="form-contact-firstname" placeholder="{{ 'home.sections.contact.form.first_name' | trans }}" required>
                <label for="form-contact-name" hidden>{{ 'home.sections.contact.form.last_name' | trans }}</label>
                <input type="text" id="form-contact-name" name="form-contact-name" placeholder="{{ 'home.sections.contact.form.last_name' | trans }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="form-contact-email">{{ 'home.sections.contact.form.email' | trans }}*</label>
            <input type="email" id="form-contact-email" name="form-contact-email" placeholder="{{ 'home.sections.contact.form.email' | trans }}" required>
        </div>
        <div class="form-group">
            <label for="form-contact-phone">{{ 'home.sections.contact.form.phone' | trans }} ({{ 'actions.optional' | trans | lower }})</label>
            <input type="tel" id="form-contact-phone" name="form-contact-phone" placeholder="{{ 'home.sections.contact.form.phone' | trans }}">
        </div>
        <div class="form-group">
            <label for="form-contact-subject">{{ 'home.sections.contact.form.subject' | trans }}*</label>
            <input type="text" id="form-contact-subject" name="form-contact-subject" placeholder="{{ 'home.sections.contact.form.subject' | trans }}" required>
        </div>
        <div class="form-group">
            <label for="form-contact-message">{{ 'home.sections.contact.form.message' | trans }}*</label>
            <textarea id="form-contact-message" name="form-contact-message" placeholder="{{ 'home.sections.contact.form.message' | trans }}" required></textarea>
        </div>
        <div class="form-group"
             data-controller="input-file"
             data-input-file-choose-file-value="{{ 'home.sections.contact.form.choose_file' | trans }} "
             data-input-file-no-file-chosen-value="{{ 'home.sections.contact.form.no_file_chosen' | trans }}"
             data-input-file-one-file-selected-value="{{ 'home.sections.contact.form.one_file_selected' | trans }}"
             data-input-file-multiple-files-selected-value="{{ 'home.sections.contact.form.multiple_files_selected' | trans }}"
        >
            <label for="form-contact-attachment">{{ 'home.sections.contact.form.files' | trans }} ({{ 'actions.optional' | trans | lower }})</label>
            <input type="file"
                   id="form-contact-attachment"
                   name="form-contact-attachment"
                   aria-label="{{ 'home.sections.contact.form.files' | trans }}"
                   data-input-file-target="input">
        </div>
        <div class="form-switch">
            <span class="form-switch-text">{{ 'home.sections.contact.form.receive_copy' | trans }}</span>
            <label for="form-switch-message" class="form-switch-toggle">
                <input type="checkbox" id="form-switch-message" name="form-switch-message" aria-label="{{ 'home.sections.contact.form.receive_copy' | trans }}">
                <span class="form-switch-toggle-slider"></span>
            </label>
        </div>
        <button class="btn" type="submit" aria-label="{{ 'home.sections.contact.form.submit_button' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
            {{ 'home.sections.contact.form.submit_button' | trans }}
        </button>
        <div class="form-infos">
            <p>*{{ 'home.sections.contact.form.privacy_notice' | trans }}</p>
        </div>
    </form>

    {% include "components/buttons/btn-scroll-to-next-section.html.twig" with {
        'data_target': '#footer',
        'aria_label': 'actions.scroll_to_bottom' | trans
    } %}
</section>