<footer id="footer">
    <!-- Mobile footer -->
    <div class="footer-mobile__container">
        <div class="fade-in-effects-initial" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <div class="footer-mobile__container-contact">
                <div class="footer-mobile__container-contact-title">
                    <svg role="img" aria-labelledby="footer-mobile__container-contact-title-h2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M208 352c114.9 0 208-78.8 208-176S322.9 0 208 0S0 78.8 0 176c0 38.6 14.7 74.3 39.6 103.4c-3.5 9.4-8.7 17.7-14.2 24.7c-4.8 6.2-9.7 11-13.3 14.3c-1.8 1.6-3.3 2.9-4.3 3.7c-.5 .4-.9 .7-1.1 .8l-.2 .2 0 0 0 0C1 327.2-1.4 334.4 .8 340.9S9.1 352 16 352c21.8 0 43.8-5.6 62.1-12.5c9.2-3.5 17.8-7.4 25.3-11.4C134.1 343.3 169.8 352 208 352zM448 176c0 112.3-99.1 196.9-216.5 207C255.8 457.4 336.4 512 432 512c38.2 0 73.9-8.7 104.7-23.9c7.5 4 16 7.9 25.2 11.4c18.3 6.9 40.3 12.5 62.1 12.5c6.9 0 13.1-4.5 15.2-11.1c2.1-6.6-.2-13.8-5.8-17.9l0 0 0 0-.2-.2c-.2-.2-.6-.4-1.1-.8c-1-.8-2.5-2-4.3-3.7c-3.6-3.3-8.5-8.1-13.3-14.3c-5.5-7-10.7-15.4-14.2-24.7c24.9-29 39.6-64.7 39.6-103.4c0-92.8-84.9-168.9-192.6-175.5c.4 5.1 .6 10.3 .6 15.5z"/></svg>
                    <h2 id="footer-mobile__container-contact-title-h2">Discutons ensemble</h2>
                </div>
                <div class="link-effects footer-mobile__container-contact-meeting">
                    <a href="https://calendly.com/contact-s6as" target="_blank" rel="noopener" aria-label="Planifier un rendez-vous avec Gaël Paquien sur Calendly">
                        Planifier un rendez-vous sur Calendly
                    </a>
                </div>
                <ul class="footer-mobile__container-contact-list">
                    <li class="link-effects footer-mobile__container-contact-list-item">
                        <a href="mailto:contact@gaelpaquien.com" aria-label="Envoyer un mail à Gaël Paquien">
                            contact@gaelpaquien.com
                        </a>
                    </li>
                    <span>-</span>
                    <li class="link-effects footer-mobile__container-contact-list-item">
                        <a href="tel:0634068636" aria-label="Appeler Gaël Paquien">
                            06 34 06 86 36
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fade-in-effects-initial" data-controller="animation-fade-in" data-animation="fade-in-up-effects">
            <div class="footer-mobile__container-company">
                <div class="footer-mobile__container-company-title">
                    <svg role="img" aria-labelledby="footer-mobile__container-company-title-h2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M48 0C21.5 0 0 21.5 0 48V464c0 26.5 21.5 48 48 48h96V432c0-26.5 21.5-48 48-48s48 21.5 48 48v80h96c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48H48zM64 240c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V240zm112-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H176c-8.8 0-16-7.2-16-16V240c0-8.8 7.2-16 16-16zm80 16c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H272c-8.8 0-16-7.2-16-16V240zM80 96h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16zm80 16c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H176c-8.8 0-16-7.2-16-16V112zM272 96h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H272c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16z"/></svg>
                    <h2 id="footer-mobile__container-company-title-h2">Mon entreprise</h2>
                </div>
                <p class="footer-mobile__container-company-text">
                    EI - Code APE 62.01Z<br>
                    Siret 844 466 441 00020<br>
                    Numéro TVA FR89844466441
                </p>
            </div>
        </div>
        <hr>
        <div class="footer-mobile__container-links">
            <div class="fade-in-effects-initial" data-controller="animation-fade-in" data-animation="fade-in-left-effects">
                <ul class="footer-mobile__container-links-social">
                    <li class="footer-mobile__container-links-social-item">
                        <a href="https://www.linkedin.com/in/gaelpa/" target="_blank" rel="noopener" aria-label="Visiter le profil LinkedIn de Gaël Paquien">
                            <svg class="icon-effects" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
                        </a>
                    </li>
                    <li class="footer-mobile__container-links-social-item">
                        <a href="https://github.com/Galuss1" target="_blank" rel="noopener" aria-label="Visiter le profil GitHub de Gaël Paquien">
                            <svg class="icon-effects" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>
                        </a>
                    </li>
                    <li class="footer-mobile__container-links-social-item">
                        <a href="{{ asset('docs/CV_Gael_Paquien.pdf') }}" target="_blank" aria-label="Voir le CV de Gaël Paquien">
                            <svg class="icon-effects" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20"><path d="M9 7H14.5L9 1.5V7ZM2 0H10L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 0.89 0.89 0 2 0ZM10 18V17C10 15.67 7.33 15 6 15C4.67 15 2 15.67 2 17V18H10ZM6 10C5.46957 10 4.96086 10.2107 4.58579 10.5858C4.21071 10.9609 4 11.4696 4 12C4 12.5304 4.21071 13.0391 4.58579 13.4142C4.96086 13.7893 5.46957 14 6 14C6.53043 14 7.03914 13.7893 7.41421 13.4142C7.78929 13.0391 8 12.5304 8 12C8 11.4696 7.78929 10.9609 7.41421 10.5858C7.03914 10.2107 6.53043 10 6 10Z"/></svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="fade-in-effects-initial" data-controller="animation-fade-in" data-animation="fade-in-right-effects">
                <ul class="footer-mobile__container-links-various">
                    <li class="footer-mobile__container-links-various-item">
                        <a class="link-effects" href="{{ path('app_main_legal_notice') }}" aria-label="Visiter la page des mentions légales">
                            Mentions légales
                        </a>
                    </li>
                    <li class="footer-mobile__container-links-various-item">
                        <a class="link-effects" href="{{ path('app_main_privacy_policy') }}" aria-label="Visiter la page de la politique de confidentialité">
                            Politique de confidentialité
                        </a>
                    </li>
                    <li class="footer-mobile__container-links-various-item">
                        <a class="link-effects" href="{{ path('app_main_sitemap') }}" aria-label="Visiter le plan du site">
                            Plan du site
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="fade-in-effects-initial" data-controller="animation-fade-in" data-animation="fade-in-left-effects">
            <div class="footer-mobile__container-about">
                <div class="footer-mobile__container-about-title">
                    <svg role="img" aria-labelledby="footer-mobile__container-about-title-h2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M24.392 23.2L24.296 20.832C23.6987 20.5333 23.0267 20.2773 22.28 20.064C21.5333 19.8293 20.776 19.712 20.008 19.712C19.1547 19.712 18.376 19.8187 17.672 20.032C16.9893 20.224 16.4027 20.608 15.912 21.184C15.4213 21.7387 15.0373 22.5067 14.76 23.488C14.504 24.448 14.376 25.696 14.376 27.232V30.176C14.376 31.6267 14.4933 32.832 14.728 33.792C14.984 34.7307 15.3467 35.4773 15.816 36.032C16.2853 36.5867 16.8613 36.9813 17.544 37.216C18.248 37.4293 19.048 37.536 19.944 37.536C20.8827 37.536 21.7147 37.4613 22.44 37.312C23.1653 37.1413 23.8053 36.9707 24.36 36.8C24.2747 36.3093 24.232 35.68 24.232 34.912V32.48H21.896V29.792H27.784V35.584C27.784 36.736 27.848 37.6427 27.976 38.304C28.104 38.944 28.2533 39.4027 28.424 39.68C28.0613 39.808 27.6987 39.9253 27.336 40.032C26.9733 40.16 26.6107 40.2773 26.248 40.384C26.0987 40.3413 25.9387 40.2453 25.768 40.096C25.6187 39.9467 25.4693 39.712 25.32 39.392C24.6373 39.6267 23.8587 39.84 22.984 40.032C22.1093 40.2453 21.096 40.352 19.944 40.352C18.664 40.352 17.448 40.2347 16.296 40C15.1653 39.7653 14.1627 39.3067 13.288 38.624C12.4347 37.9413 11.752 36.9707 11.24 35.712C10.728 34.432 10.472 32.7467 10.472 30.656V27.392C10.472 25.216 10.696 23.4453 11.144 22.08C11.6133 20.7147 12.264 19.6587 13.096 18.912C13.928 18.144 14.92 17.6213 16.072 17.344C17.224 17.0667 18.4827 16.928 19.848 16.928C20.9147 16.928 22.0453 17.0133 23.24 17.184C24.4347 17.3547 25.6827 17.6427 26.984 18.048L26.76 23.2H24.392ZM30.9423 20.064V17.28H39.9343C41.3209 17.28 42.5689 17.3867 43.6783 17.6C44.8089 17.8133 45.7689 18.176 46.5583 18.688C47.3476 19.2 47.9556 19.8827 48.3823 20.736C48.8089 21.568 49.0223 22.624 49.0223 23.904V24.896C49.0223 26.1333 48.7876 27.1573 48.3183 27.968C47.8489 28.7573 47.2089 29.3867 46.3983 29.856C45.6089 30.304 44.6703 30.6133 43.5823 30.784C42.5156 30.9547 41.3636 31.04 40.1263 31.04H36.8303V37.248H38.3023V40H31.6463V37.248H33.1183V20.064H30.9423ZM45.3423 24.448C45.3423 23.552 45.2143 22.8267 44.9583 22.272C44.7023 21.696 44.3503 21.248 43.9023 20.928C43.4543 20.5867 42.9103 20.3627 42.2703 20.256C41.6516 20.128 40.9583 20.064 40.1903 20.064H36.8303V28.448H40.1263C40.8516 28.448 41.5236 28.4053 42.1423 28.32C42.7823 28.2133 43.3369 28.0213 43.8063 27.744C44.2756 27.4453 44.6489 27.04 44.9263 26.528C45.2036 25.9947 45.3423 25.3013 45.3423 24.448Z"/><path d="M54.3119 12.301C51.0194 7.80403 46.4736 4.26801 41.3183 2.18705C36.1647 0.0815568 30.4308 -0.499736 24.927 0.425996C19.4113 1.34068 14.1447 3.86507 9.91099 7.64081C9.21513 8.3076 7.99872 9.444 6.63731 11.1552C5.28532 12.8651 3.74616 15.1285 2.52196 17.9564C1.90802 19.3661 1.35183 20.9034 0.931611 22.5519C0.51508 24.2005 0.219777 25.9525 0.0854383 27.7676C-0.189382 31.392 0.189061 35.2839 1.36207 38.997C2.51992 42.7118 4.45267 46.2176 6.89247 49.1449C9.32367 52.0849 12.2521 54.4338 15.228 56.1081C16.7156 56.9488 18.2138 57.6274 19.6665 58.169C21.1262 58.6943 22.5376 59.0796 23.858 59.366C26.5083 59.908 28.781 60.0127 30.4386 59.9988C30.842 59.9833 31.2438 59.9829 31.6443 59.9534C35.2657 59.7853 39.248 58.8158 42.7342 57.1157C46.2377 55.4409 49.1923 53.0663 51.243 50.818C53.1168 48.7403 54.6891 46.353 55.883 43.8241C55.548 44.3817 55.1925 44.8983 54.8583 45.3863C54.4999 45.8596 54.1866 46.3223 53.845 46.715C55.4931 44.416 56.6571 41.8168 56.9581 40.7777C57.4623 39.3652 57.6556 38.4718 57.7338 37.9899C57.8133 37.5072 57.774 37.4315 57.6614 37.5997C57.5471 37.7674 57.3669 38.1818 57.1441 38.6763C56.8955 39.1627 56.6501 39.7456 56.3557 40.2341C55.9936 40.9598 55.9641 40.7916 55.8912 40.7327C55.8142 40.6706 55.722 40.7291 55.1372 41.8274C55.8871 40.2022 56.1984 39.3542 56.7091 37.6299C56.6911 37.5714 56.5916 37.8754 56.4552 38.3442C56.2897 38.8036 56.1087 39.4372 55.8756 40.0173C55.7614 40.3081 55.65 40.5916 55.5509 40.844C55.4452 41.0935 55.3387 41.3067 55.2601 41.4678C55.0995 41.789 55.0225 41.8896 55.1007 41.5844C55.8675 40.043 56.4232 38.1867 56.8316 36.4555C56.6886 36.7394 56.2811 38.2239 55.781 39.5599C55.2674 40.8919 54.6744 42.0663 54.6584 41.9068C54.7473 41.6851 54.9332 41.2981 55.1622 40.835C55.3665 40.3621 55.6274 39.8164 55.833 39.2699C56.266 38.1834 56.5445 37.1219 56.4896 36.9329C56.4687 36.8584 55.9891 38.5581 55.6754 39.3844C56.5592 36.8085 56.8058 34.701 56.8258 33.8992C56.8308 33.495 56.7894 33.4124 56.6936 33.7302C56.6022 34.0485 56.4408 34.7664 56.1251 35.9417C56.318 35.1199 56.5092 34.1172 56.6485 33.0925C56.7206 32.5807 56.7521 32.0608 56.8009 31.5601C56.8234 31.0574 56.8316 30.5714 56.8373 30.1234C56.8365 30.1263 56.8344 30.1329 56.8332 30.1369C56.8111 30.5836 56.8037 31.1936 56.7468 31.7908C56.6886 32.3881 56.6378 32.9763 56.5723 33.3833C56.7066 32.3795 56.7628 31.3625 56.7832 30.3476C56.7509 30.5084 56.7148 30.6884 56.6768 30.877C56.6575 31.2545 56.6325 31.6321 56.5866 32.0121C56.5424 32.3922 56.5269 32.7787 56.4654 33.1678C56.5174 32.8372 56.5322 32.5022 56.5617 32.1684C56.5862 31.8342 56.6235 31.5 56.6251 31.1629C56.5486 31.6628 56.4101 32.2306 56.304 32.8515C55.915 35.2037 55.12 37.3227 54.6985 38.5094C53.016 43.332 49.8705 47.6277 45.8064 50.7072C41.7513 53.803 36.7914 55.6553 31.7262 55.9772C31.7123 56.0615 32.2624 56.102 31.4199 56.2047C31.0877 56.237 30.7613 56.2386 30.4423 56.2501C30.1228 56.2624 29.8095 56.262 29.5002 56.2411C29.1918 56.2243 28.8871 56.2075 28.5844 56.1908C28.2838 56.1556 27.9853 56.1208 27.6863 56.0861C27.3873 56.057 27.0907 56.0112 26.7934 55.958C26.4956 55.9097 26.1958 55.8615 25.8924 55.8124C25.2899 55.6872 24.6669 55.5911 24.0186 55.4463C23.9473 55.4749 23.874 55.5039 23.8011 55.533C21.8028 55.009 19.8078 54.179 17.9049 53.117C16.1168 52.2044 14.4482 51.0704 12.9254 49.7732C11.4018 48.4769 10.0171 47.0177 8.83342 45.4105C8.85389 45.5238 8.84693 45.5909 8.60078 45.2763C7.60143 43.9431 6.43621 41.9256 5.59291 39.6896C5.45447 39.3644 5.31563 39.0396 5.20423 38.7107C5.08996 38.4628 5.02279 38.4108 4.98101 38.3781C4.63697 37.3493 4.42113 36.4076 4.24133 35.5334C2.91802 29.8089 3.47544 23.503 6.20521 17.9494C7.55556 15.1743 9.40189 12.571 11.7184 10.3517C14.028 8.12883 16.7844 6.27042 19.8668 4.95729C20.509 4.65499 21.1749 4.40954 21.8376 4.15347C22.5114 3.93257 23.1826 3.69939 23.8691 3.52963C25.235 3.1676 26.6222 2.9062 27.9992 2.79534C30.0372 2.62108 32.3865 2.70576 34.6624 3.13446C36.9425 3.54149 39.1419 4.26187 40.9538 5.08329C40.86 4.91639 41.356 5.01211 42.1215 5.27432C42.8817 5.54636 43.9093 5.98979 44.8615 6.49868C46.7754 7.49559 48.4203 8.68681 47.7928 7.86212C48.872 8.72731 50.1319 9.91566 51.0898 10.9523C52.0404 11.9954 52.7154 12.8561 52.8395 12.897C53.0218 12.9616 53.247 13.1122 53.5714 13.3854C53.7315 13.5233 53.9187 13.6906 54.1251 13.9029C54.3246 14.1193 54.5495 14.3758 54.8026 14.6805C55.7794 15.9094 57.2182 17.958 58.4617 21.5922C58.938 23.0154 59.2988 24.8922 59.4639 26.5383C59.5167 26.949 59.545 27.3462 59.5646 27.7193C59.5847 28.092 59.6179 28.4385 59.6244 28.751C59.6375 29.3761 59.6539 29.8596 59.6805 30.123C59.7125 30.5149 59.7465 30.4822 59.7809 30.2368C59.8149 29.9909 59.8345 29.4935 59.8583 29.0079C59.8976 28.031 59.8628 27.0456 60 27.8789C59.6367 22.2533 57.6216 16.7844 54.3119 12.301Z"/></svg>
                    <h2 class="footer-mobile__container-about-title-h2">GAELPAQUIEN.COM</h2>
                </div>
                <p class="footer-mobile__container-about-text">
                    &copy 2024-{{ 'now' | date('Y') }} - Tous droits réservés.
                </p>
            </div>
        </div>
    </div>

    <!-- Desktop footer -->
    <div class="footer__container">
        <div class="fade-in-effects-initial" data-controller="animation-fade-in" data-animation="fade-in-left-effects">
            <div class="footer__container-about">
                <div class="footer__container-about-title">
                    <svg role="img" aria-labelledby="footer__container-about-title-h2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M24.392 23.2L24.296 20.832C23.6987 20.5333 23.0267 20.2773 22.28 20.064C21.5333 19.8293 20.776 19.712 20.008 19.712C19.1547 19.712 18.376 19.8187 17.672 20.032C16.9893 20.224 16.4027 20.608 15.912 21.184C15.4213 21.7387 15.0373 22.5067 14.76 23.488C14.504 24.448 14.376 25.696 14.376 27.232V30.176C14.376 31.6267 14.4933 32.832 14.728 33.792C14.984 34.7307 15.3467 35.4773 15.816 36.032C16.2853 36.5867 16.8613 36.9813 17.544 37.216C18.248 37.4293 19.048 37.536 19.944 37.536C20.8827 37.536 21.7147 37.4613 22.44 37.312C23.1653 37.1413 23.8053 36.9707 24.36 36.8C24.2747 36.3093 24.232 35.68 24.232 34.912V32.48H21.896V29.792H27.784V35.584C27.784 36.736 27.848 37.6427 27.976 38.304C28.104 38.944 28.2533 39.4027 28.424 39.68C28.0613 39.808 27.6987 39.9253 27.336 40.032C26.9733 40.16 26.6107 40.2773 26.248 40.384C26.0987 40.3413 25.9387 40.2453 25.768 40.096C25.6187 39.9467 25.4693 39.712 25.32 39.392C24.6373 39.6267 23.8587 39.84 22.984 40.032C22.1093 40.2453 21.096 40.352 19.944 40.352C18.664 40.352 17.448 40.2347 16.296 40C15.1653 39.7653 14.1627 39.3067 13.288 38.624C12.4347 37.9413 11.752 36.9707 11.24 35.712C10.728 34.432 10.472 32.7467 10.472 30.656V27.392C10.472 25.216 10.696 23.4453 11.144 22.08C11.6133 20.7147 12.264 19.6587 13.096 18.912C13.928 18.144 14.92 17.6213 16.072 17.344C17.224 17.0667 18.4827 16.928 19.848 16.928C20.9147 16.928 22.0453 17.0133 23.24 17.184C24.4347 17.3547 25.6827 17.6427 26.984 18.048L26.76 23.2H24.392ZM30.9423 20.064V17.28H39.9343C41.3209 17.28 42.5689 17.3867 43.6783 17.6C44.8089 17.8133 45.7689 18.176 46.5583 18.688C47.3476 19.2 47.9556 19.8827 48.3823 20.736C48.8089 21.568 49.0223 22.624 49.0223 23.904V24.896C49.0223 26.1333 48.7876 27.1573 48.3183 27.968C47.8489 28.7573 47.2089 29.3867 46.3983 29.856C45.6089 30.304 44.6703 30.6133 43.5823 30.784C42.5156 30.9547 41.3636 31.04 40.1263 31.04H36.8303V37.248H38.3023V40H31.6463V37.248H33.1183V20.064H30.9423ZM45.3423 24.448C45.3423 23.552 45.2143 22.8267 44.9583 22.272C44.7023 21.696 44.3503 21.248 43.9023 20.928C43.4543 20.5867 42.9103 20.3627 42.2703 20.256C41.6516 20.128 40.9583 20.064 40.1903 20.064H36.8303V28.448H40.1263C40.8516 28.448 41.5236 28.4053 42.1423 28.32C42.7823 28.2133 43.3369 28.0213 43.8063 27.744C44.2756 27.4453 44.6489 27.04 44.9263 26.528C45.2036 25.9947 45.3423 25.3013 45.3423 24.448Z"/><path d="M54.3119 12.301C51.0194 7.80403 46.4736 4.26801 41.3183 2.18705C36.1647 0.0815568 30.4308 -0.499736 24.927 0.425996C19.4113 1.34068 14.1447 3.86507 9.91099 7.64081C9.21513 8.3076 7.99872 9.444 6.63731 11.1552C5.28532 12.8651 3.74616 15.1285 2.52196 17.9564C1.90802 19.3661 1.35183 20.9034 0.931611 22.5519C0.51508 24.2005 0.219777 25.9525 0.0854383 27.7676C-0.189382 31.392 0.189061 35.2839 1.36207 38.997C2.51992 42.7118 4.45267 46.2176 6.89247 49.1449C9.32367 52.0849 12.2521 54.4338 15.228 56.1081C16.7156 56.9488 18.2138 57.6274 19.6665 58.169C21.1262 58.6943 22.5376 59.0796 23.858 59.366C26.5083 59.908 28.781 60.0127 30.4386 59.9988C30.842 59.9833 31.2438 59.9829 31.6443 59.9534C35.2657 59.7853 39.248 58.8158 42.7342 57.1157C46.2377 55.4409 49.1923 53.0663 51.243 50.818C53.1168 48.7403 54.6891 46.353 55.883 43.8241C55.548 44.3817 55.1925 44.8983 54.8583 45.3863C54.4999 45.8596 54.1866 46.3223 53.845 46.715C55.4931 44.416 56.6571 41.8168 56.9581 40.7777C57.4623 39.3652 57.6556 38.4718 57.7338 37.9899C57.8133 37.5072 57.774 37.4315 57.6614 37.5997C57.5471 37.7674 57.3669 38.1818 57.1441 38.6763C56.8955 39.1627 56.6501 39.7456 56.3557 40.2341C55.9936 40.9598 55.9641 40.7916 55.8912 40.7327C55.8142 40.6706 55.722 40.7291 55.1372 41.8274C55.8871 40.2022 56.1984 39.3542 56.7091 37.6299C56.6911 37.5714 56.5916 37.8754 56.4552 38.3442C56.2897 38.8036 56.1087 39.4372 55.8756 40.0173C55.7614 40.3081 55.65 40.5916 55.5509 40.844C55.4452 41.0935 55.3387 41.3067 55.2601 41.4678C55.0995 41.789 55.0225 41.8896 55.1007 41.5844C55.8675 40.043 56.4232 38.1867 56.8316 36.4555C56.6886 36.7394 56.2811 38.2239 55.781 39.5599C55.2674 40.8919 54.6744 42.0663 54.6584 41.9068C54.7473 41.6851 54.9332 41.2981 55.1622 40.835C55.3665 40.3621 55.6274 39.8164 55.833 39.2699C56.266 38.1834 56.5445 37.1219 56.4896 36.9329C56.4687 36.8584 55.9891 38.5581 55.6754 39.3844C56.5592 36.8085 56.8058 34.701 56.8258 33.8992C56.8308 33.495 56.7894 33.4124 56.6936 33.7302C56.6022 34.0485 56.4408 34.7664 56.1251 35.9417C56.318 35.1199 56.5092 34.1172 56.6485 33.0925C56.7206 32.5807 56.7521 32.0608 56.8009 31.5601C56.8234 31.0574 56.8316 30.5714 56.8373 30.1234C56.8365 30.1263 56.8344 30.1329 56.8332 30.1369C56.8111 30.5836 56.8037 31.1936 56.7468 31.7908C56.6886 32.3881 56.6378 32.9763 56.5723 33.3833C56.7066 32.3795 56.7628 31.3625 56.7832 30.3476C56.7509 30.5084 56.7148 30.6884 56.6768 30.877C56.6575 31.2545 56.6325 31.6321 56.5866 32.0121C56.5424 32.3922 56.5269 32.7787 56.4654 33.1678C56.5174 32.8372 56.5322 32.5022 56.5617 32.1684C56.5862 31.8342 56.6235 31.5 56.6251 31.1629C56.5486 31.6628 56.4101 32.2306 56.304 32.8515C55.915 35.2037 55.12 37.3227 54.6985 38.5094C53.016 43.332 49.8705 47.6277 45.8064 50.7072C41.7513 53.803 36.7914 55.6553 31.7262 55.9772C31.7123 56.0615 32.2624 56.102 31.4199 56.2047C31.0877 56.237 30.7613 56.2386 30.4423 56.2501C30.1228 56.2624 29.8095 56.262 29.5002 56.2411C29.1918 56.2243 28.8871 56.2075 28.5844 56.1908C28.2838 56.1556 27.9853 56.1208 27.6863 56.0861C27.3873 56.057 27.0907 56.0112 26.7934 55.958C26.4956 55.9097 26.1958 55.8615 25.8924 55.8124C25.2899 55.6872 24.6669 55.5911 24.0186 55.4463C23.9473 55.4749 23.874 55.5039 23.8011 55.533C21.8028 55.009 19.8078 54.179 17.9049 53.117C16.1168 52.2044 14.4482 51.0704 12.9254 49.7732C11.4018 48.4769 10.0171 47.0177 8.83342 45.4105C8.85389 45.5238 8.84693 45.5909 8.60078 45.2763C7.60143 43.9431 6.43621 41.9256 5.59291 39.6896C5.45447 39.3644 5.31563 39.0396 5.20423 38.7107C5.08996 38.4628 5.02279 38.4108 4.98101 38.3781C4.63697 37.3493 4.42113 36.4076 4.24133 35.5334C2.91802 29.8089 3.47544 23.503 6.20521 17.9494C7.55556 15.1743 9.40189 12.571 11.7184 10.3517C14.028 8.12883 16.7844 6.27042 19.8668 4.95729C20.509 4.65499 21.1749 4.40954 21.8376 4.15347C22.5114 3.93257 23.1826 3.69939 23.8691 3.52963C25.235 3.1676 26.6222 2.9062 27.9992 2.79534C30.0372 2.62108 32.3865 2.70576 34.6624 3.13446C36.9425 3.54149 39.1419 4.26187 40.9538 5.08329C40.86 4.91639 41.356 5.01211 42.1215 5.27432C42.8817 5.54636 43.9093 5.98979 44.8615 6.49868C46.7754 7.49559 48.4203 8.68681 47.7928 7.86212C48.872 8.72731 50.1319 9.91566 51.0898 10.9523C52.0404 11.9954 52.7154 12.8561 52.8395 12.897C53.0218 12.9616 53.247 13.1122 53.5714 13.3854C53.7315 13.5233 53.9187 13.6906 54.1251 13.9029C54.3246 14.1193 54.5495 14.3758 54.8026 14.6805C55.7794 15.9094 57.2182 17.958 58.4617 21.5922C58.938 23.0154 59.2988 24.8922 59.4639 26.5383C59.5167 26.949 59.545 27.3462 59.5646 27.7193C59.5847 28.092 59.6179 28.4385 59.6244 28.751C59.6375 29.3761 59.6539 29.8596 59.6805 30.123C59.7125 30.5149 59.7465 30.4822 59.7809 30.2368C59.8149 29.9909 59.8345 29.4935 59.8583 29.0079C59.8976 28.031 59.8628 27.0456 60 27.8789C59.6367 22.2533 57.6216 16.7844 54.3119 12.301Z"/></svg>
                    <h2 id="footer__container-about-title-h2">GAELPAQUIEN.COM</h2>
                </div>
                <p class="footer__container-about-text">
                    &copy 2024-{{ 'now' | date('Y') }} - Tous droits réservés.
                </p>
            </div>
        </div>

        <div class="fade-in-effects-initial" data-controller="animation-fade-in" data-animation="fade-in-left-effects">
            <div class="footer__container-contact">
                <div class="footer__container-contact-title">
                    <svg role="img" aria-labelledby="footer__container-contact-title-h2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M208 352c114.9 0 208-78.8 208-176S322.9 0 208 0S0 78.8 0 176c0 38.6 14.7 74.3 39.6 103.4c-3.5 9.4-8.7 17.7-14.2 24.7c-4.8 6.2-9.7 11-13.3 14.3c-1.8 1.6-3.3 2.9-4.3 3.7c-.5 .4-.9 .7-1.1 .8l-.2 .2 0 0 0 0C1 327.2-1.4 334.4 .8 340.9S9.1 352 16 352c21.8 0 43.8-5.6 62.1-12.5c9.2-3.5 17.8-7.4 25.3-11.4C134.1 343.3 169.8 352 208 352zM448 176c0 112.3-99.1 196.9-216.5 207C255.8 457.4 336.4 512 432 512c38.2 0 73.9-8.7 104.7-23.9c7.5 4 16 7.9 25.2 11.4c18.3 6.9 40.3 12.5 62.1 12.5c6.9 0 13.1-4.5 15.2-11.1c2.1-6.6-.2-13.8-5.8-17.9l0 0 0 0-.2-.2c-.2-.2-.6-.4-1.1-.8c-1-.8-2.5-2-4.3-3.7c-3.6-3.3-8.5-8.1-13.3-14.3c-5.5-7-10.7-15.4-14.2-24.7c24.9-29 39.6-64.7 39.6-103.4c0-92.8-84.9-168.9-192.6-175.5c.4 5.1 .6 10.3 .6 15.5z"/></svg>
                    <h2 id="footer__container-contact-title-h2">Discutons ensemble</h2>
                </div>
                <ul class="footer__container-contact-list">
                    <li class="link-effects footer__container-contact-list-item">
                        <a href="https://calendly.com/contact-s6as" target="_blank" rel="noopener" aria-label="Planifier un rendez-vous avec Gaël Paquien sur Calendly">
                            Planifier un rendez-vous sur Calendly
                        </a>
                    </li>
                    <li class="link-effects footer__container-contact-list-item">
                        <a href="mailto:contact@gaelpaquien.com" aria-label="Envoyer un mail à Gaël Paquien">
                            contact@gaelpaquien.com
                        </a>
                    </li>
                    <li class="link-effects footer__container-contact-list-item">
                        <a href="tel:0634068636" aria-label="Appeler Gaël Paquien">
                            06 34 06 86 36
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fade-in-effects-initial" data-controller="animation-fade-in" data-animation="fade-in-right-effects">
            <div class="footer__container-company">
                <div class="footer__container-company-title">
                    <svg role="img" aria-labelledby="footer__container-company-title-h2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M48 0C21.5 0 0 21.5 0 48V464c0 26.5 21.5 48 48 48h96V432c0-26.5 21.5-48 48-48s48 21.5 48 48v80h96c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48H48zM64 240c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V240zm112-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H176c-8.8 0-16-7.2-16-16V240c0-8.8 7.2-16 16-16zm80 16c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H272c-8.8 0-16-7.2-16-16V240zM80 96h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16zm80 16c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H176c-8.8 0-16-7.2-16-16V112zM272 96h32c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16H272c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16z"/></svg>
                    <h2 id="footer__container-company-title-h2">Mon entreprise</h2>
                </div>
                <p class="footer__container-company-text">
                    EI - Code APE 62.01Z<br>
                    Siret 844 466 441 00020<br>
                    Numéro TVA FR89844466441
                </p>
            </div>
        </div>

        <div class="fade-in-effects-initial" data-controller="animation-fade-in" data-animation="fade-in-right-effects">
            <div class="footer__container-links">
                <ul class="footer__container-links-social">
                    <li class="footer__container-links-social-item">
                        <a href="https://www.linkedin.com/in/gaelpa/" target="_blank" rel="noopener" aria-label="Visiter le profil LinkedIn de Gaël Paquien">
                            <svg class="icon-effects" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
                        </a>
                    </li>
                    <li class="footer__container-links-social-item">
                        <a href="https://github.com/Galuss1" target="_blank" rel="noopener" aria-label="Visiter le profil GitHub de Gaël Paquien">
                            <svg class="icon-effects" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>
                        </a>
                    </li>
                    <li class="footer__container-links-social-item">
                        <a href="{{ asset('docs/CV_Gael_Paquien.pdf') }}" target="_blank" aria-label="Voir le CV de Gaël Paquien">
                            <svg class="icon-effects" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20"><path d="M9 7H14.5L9 1.5V7ZM2 0H10L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 0.89 0.89 0 2 0ZM10 18V17C10 15.67 7.33 15 6 15C4.67 15 2 15.67 2 17V18H10ZM6 10C5.46957 10 4.96086 10.2107 4.58579 10.5858C4.21071 10.9609 4 11.4696 4 12C4 12.5304 4.21071 13.0391 4.58579 13.4142C4.96086 13.7893 5.46957 14 6 14C6.53043 14 7.03914 13.7893 7.41421 13.4142C7.78929 13.0391 8 12.5304 8 12C8 11.4696 7.78929 10.9609 7.41421 10.5858C7.03914 10.2107 6.53043 10 6 10Z"/></svg>
                        </a>
                    </li>
                </ul>

                <ul class="footer__container-links-various">
                    <li class="footer__container-links-various-item">
                        <a class="link-effects" href="{{ path('app_main_legal_notice') }}" aria-label="Consulter les mentions légales">
                            Mentions légales
                        </a>
                    </li>
                    <li class="footer__container-links-various-item">
                        <a class="link-effects" href="{{ path('app_main_privacy_policy') }}" aria-label="Consulter la politique de confidentialité">
                            Politique de confidentialité
                        </a>
                    </li>
                    <li class="footer__container-links-various-item">
                        <a class="link-effects" href="{{ path('app_main_sitemap') }}" aria-label="Visiter le plan du site">
                            Plan du site
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
