<div class="header">
    <div class="header__headband">
        <ul class="fade-in-effects-initial header__headband-left-list"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-left-effects"
        >
            <li class="header__headband-left-list-item">
                {% if app.request.locale != 'fr' %}
                <a href="{{ path('app_change_locale', { 'locale': 'fr' }) }}" aria-label="{{ 'language.to_french' | trans }}">
                    {% endif %}
                    {% embed 'assets/svg/flag-fr.html.twig' %}
                        {% block attributes %}
                            class="scale-effects{% if app.request.locale == 'fr' %} active{% endif %}"
                            aria-hidden="true"
                            data-language-target="frenchButton"
                            data-action="click->language#toggleLanguage"
                            data-language="fr"
                        {% endblock %}
                    {% endembed %}
                    {% if app.request.locale != 'fr' %}
                </a>
                {% endif %}
            </li>
            <li class="header__headband-left-list-item">
                {% if app.request.locale != 'en' %}
                <a href="{{ path('app_change_locale', { 'locale': 'en' }) }}" aria-label="{{ 'language.to_english' | trans }}">
                    {% endif %}
                    {% embed 'assets/svg/flag-en.html.twig' %}
                        {% block attributes %}
                            class="scale-effects{% if app.request.locale == 'en' %} active{% endif %}"
                            aria-hidden="true"
                            data-language-target="englishButton"
                            data-action="click->language#toggleLanguage"
                            data-language="en"
                        {% endblock %}
                    {% endembed %}
                    {% if app.request.locale != 'en' %}
                </a>
                {% endif %}
            </li>
            <span>
                {% embed 'assets/svg/separator.html.twig' %}
                    {% block attributes %}aria-hidden="true"{% endblock %}
                {% endembed %}
            </span>
            <li class="header__headband-left-list-item">
                {% embed 'assets/svg/light.html.twig' %}
                    {% block attributes %}
                        class="scale-effects btn-light-mode"
                        aria-label="{{ 'theme.light' | trans }}"
                        data-theme="light"
                        data-themes-target="lightButton"
                        data-action="click->themes#toggleTheme"
                    {% endblock %}
                {% endembed %}
            </li>
            <li class="header__headband-left-list-item">
                {% embed 'assets/svg/moon.html.twig' %}
                    {% block attributes %}
                        class="scale-effects btn-dark-mode"
                        aria-label="{{ 'theme.dark' | trans }}"
                        data-theme="dark"
                        data-themes-target="darkButton"
                        data-action="click->themes#toggleTheme"
                    {% endblock %}
                {% endembed %}
            </li>
        </ul>

        <ul class="fade-in-effects-initial header__headband-right-list"
            data-animation-fade-in-target="fadeIn"
            data-animation="fade-in-right-effects"
        >
            <li class="header__headband-right-list-item">
                <a href="mailto:{{ 'info.author.email' | trans }}" aria-label="{{ 'actions.send_mail' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                    {% embed 'assets/svg/mail.html.twig' %}
                        {% block attributes %}
                            class="scale-effects"
                            aria-hidden="true"
                        {% endblock %}
                    {% endembed %}
                </a>
            </li>
            <li class="header__headband-right-list-item">
                <a href="https://www.linkedin.com/in/gaelpaquien" target="_blank" rel="noopener" aria-label="{{ 'navigation.linkedin_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                    {% embed 'assets/svg/linkedin.html.twig' %}
                        {% block attributes %}
                            class="scale-effects"
                            aria-hidden="true"
                        {% endblock %}
                    {% endembed %}
                </a>
            </li>
            <li class="header__headband-right-list-item">
                <a href="https://github.com/gaelpaquien" target="_blank" rel="noopener" aria-label="{{ 'navigation.github_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                    {% embed 'assets/svg/github.html.twig' %}
                        {% block attributes %}
                            class="scale-effects"
                            aria-hidden="true"
                        {% endblock %}
                    {% endembed %}
                </a>
            </li>
            <li class="header__headband-right-list-item">
                <a href="{{ asset('docs/CV_Gael_Paquien.pdf') }}" target="_blank" aria-label="{{ 'navigation.resume_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                    {% embed 'assets/svg/resume.html.twig' %}
                        {% block attributes %}
                            class="scale-effects"
                            aria-hidden="true"
                        {% endblock %}
                    {% endembed %}
                </a>
            </li>
        </ul>
    </div>

    <div class="header__container">
        <div class="fade-in-effects-initial header__container-title"
             data-animation-fade-in-target="fadeIn"
             data-animation="fade-in-left-effects"
        >
            <a href="{{ path('app_main_index') }}" aria-label="{{ 'navigation.go_to_home' | trans }}">
                {% embed 'assets/svg/logo.html.twig' %}
                    {% block attributes %}
                        class="scale-effects"
                        aria-hidden="true"
                    {% endblock %}
                {% endembed %}
            </a>
        </div>

        <button class="fade-in-effects-initial header__container-menu-open" type="button" aria-label="{{ 'actions.open_menu' | trans }}" aria-expanded="false"
                data-animation-fade-in-target="fadeIn"
                data-animation="fade-in-right-effects"
                data-navigation-target="openButton"
                data-action="click->navigation#open"
        >
            {% embed 'assets/svg/menu.html.twig' %}
                {% block attributes %}
                    class="scale-effects"
                    aria-hidden="true"
                {% endblock %}
            {% endembed %}
        </button>

        <button class="header__container-menu-close" type="button" aria-label="{{ 'actions.close_menu' | trans }}" aria-expanded="true"
                data-navigation-target="closeButton"
                data-action="click->navigation#close"
        >
            {% embed 'assets/svg/cross.html.twig' %}
                {% block attributes %}
                    class="scale-effects"
                    aria-hidden="true"
                {% endblock %}
            {% endembed %}
        </button>
    </div>
</div>