<nav id="navigation" class="navigation__container"
     data-navigation-target="menu"
>
    <div data-navigation-target="menuContent" class="navigation__content-wrapper">
        <ul class="navigation__container-list">
            <li class="link-effects navigation__container-list-item" aria-label="{{ 'navigation.return_home' | trans }}"
                data-action="click->navigation#redirect"
                data-url="{{ path('app_main_index') }}"
            >
                {{ 'navigation.home' | trans }}
            </li>
            <li class="link-effects navigation__container-list-item" aria-label="{{ 'navigation.portfolio_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}"
                data-action="click->navigation#redirect"
                data-url="{{ path('app_main_index') }}"
                data-url-anchor="home-portfolio"
            >
                {{ 'navigation.portfolio' | trans }}
            </li>
            <li class="link-effects navigation__container-list-item" aria-label="{{ 'navigation.reviews_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}"
                data-action="click->navigation#redirect"
                data-url="{{ path('app_main_index') }}"
                data-url-anchor="home-reviews"
            >
                {{ 'navigation.reviews' | trans }}
            </li>
            <li class="link-effects navigation__container-list-item" aria-label="{{ 'navigation.contact_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}"
                data-action="click->navigation#redirect"
                data-url="{{ path('app_main_index') }}"
                data-url-anchor="home-contact"
            >
                {{ 'navigation.contact' | trans }}
            </li>
            <li class="link-effects navigation__container-list-item">
                <a href="{{ path('app_review_create') }}" aria-label="{{ 'navigation.reviews_post_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                    {{ 'navigation.reviews_post' | trans }}
                </a>
            </li>
            <li class="link-effects navigation__container-list-item">
                <a href="{{ path('app_blog_index') }}" aria-label="{{ 'navigation.blog_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                    {{ 'navigation.blog' | trans }}
                </a>
            </li>
            <li class="navigation__container-list-item navigation__container-list-item-about">
                <div class="link-effects navigation__container-list-item-about-title"
                     data-action="click->navigation#toggleDropdown"
                >
                    <span>{{ 'footer.about.me' | trans }}</span>
                    {% embed 'assets/svg/arrow-right.html.twig' %}
                        {% block attributes %}
                            aria-hidden="true"
                            data-navigation-target="arrow"
                        {% endblock %}
                    {% endembed %}
                </div>

                <ul class="navigation__container-list-item-about-dropdown"
                    data-navigation-target="dropdown"
                >
                    <li>
                        <a href="mailto:{{ 'info.author.email' | trans }}" aria-label="{{ 'actions.send_mail' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                            {% embed 'assets/svg/mail.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'info.author.email' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/gaelpaquien/" target="_blank" rel="noopener" aria-label="{{ 'navigation.linkedin_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                            {% embed 'assets/svg/linkedin.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'navigation.linkedin' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/gaelpaquien" target="_blank" rel="noopener" aria-label="{{ 'navigation.github_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                            {% embed 'assets/svg/github.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'navigation.github' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ asset('docs/CV_Gael_Paquien.pdf') }}" target="_blank" aria-label="{{ 'navigation.resume_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                            {% embed 'assets/svg/resume.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'navigation.resume' | trans }}
                        </a>
                    </li>
                </ul>
            </li>

            <li class="navigation__container-list-item navigation__container-list-item-about">
                <div class="link-effects navigation__container-list-item-about-title"
                     data-action="click->navigation#toggleDropdown"
                >
                    <span>{{ 'footer.about.site' | trans }}</span>
                    {% embed 'assets/svg/arrow-right.html.twig' %}
                        {% block attributes %}
                            aria-hidden="true"
                            data-navigation-target="arrow"
                        {% endblock %}
                    {% endembed %}
                </div>

                <ul class="navigation__container-list-item-about-dropdown"
                    data-navigation-target="dropdown"
                >
                    <li>
                        <a href="{{ path('app_main_legal_notice') }}" aria-label="{{ 'navigation.legal_notice_aria' | trans }}">
                            {% embed 'assets/svg/hammer.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'navigation.legal_notice' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_main_privacy_policy') }}" aria-label="{{ 'navigation.privacy_policy_aria' | trans }}">
                            {% embed 'assets/svg/shield.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'navigation.privacy_policy' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_main_sitemap') }}" aria-label="{{ 'navigation.sitemap_aria' | trans }}">
                            {% embed 'assets/svg/sitemap.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'navigation.sitemap' | trans }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <hr>

        <div class="navigation__container-settings">
            <div class="navigation__container-settings-item">
                <span>{{ 'theme.label' | trans }} :</span>
                <div>
                    {% embed 'assets/svg/light.html.twig' %}
                        {% block attributes %}
                            class="scale-effects btn-light-mode"
                            aria-label="{{ 'theme.light' | trans }}"
                            data-theme="light"
                            data-themes-target="lightButton"
                            data-action="click->themes#toggleTheme"
                        {% endblock %}
                    {% endembed %}
                    {% embed 'assets/svg/separator.html.twig' %}
                        {% block attributes %}
                            class="separator"
                            aria-hidden="true"
                        {% endblock %}
                    {% endembed %}
                    {% embed 'assets/svg/moon.html.twig' %}
                        {% block attributes %}
                            class="scale-effects btn-dark-mode"
                            aria-label="{{ 'theme.dark' | trans }}"
                            data-theme="dark"
                            data-themes-target="darkButton"
                            data-action="click->themes#toggleTheme"
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>

            <div class="navigation__container-settings-item">
                <span>{{ 'language.label' | trans }} :</span>
                <div>
                    <a href="{{ path('app_change_locale', { 'locale': 'fr' }) }}" aria-label="{{ 'language.to_french' | trans }}">
                        {% embed 'assets/svg/flag-fr.html.twig' %}
                            {% block attributes %}
                                class="scale-effects language-icons"
                                aria-hidden="true"
                                data-language-target="frenchButton"
                                data-action="click->language#toggleLanguage"
                                data-language="fr"
                            {% endblock %}
                        {% endembed %}
                    </a>
                    {% embed 'assets/svg/separator.html.twig' %}
                        {% block attributes %}
                            class="separator"
                            aria-hidden="true"
                        {% endblock %}
                    {% endembed %}
                    <a href="{{ path('app_change_locale', { 'locale': 'en' }) }}" aria-label="{{ 'language.to_english' | trans }}">
                        {% embed 'assets/svg/flag-en.html.twig' %}
                            {% block attributes %}
                                class="scale-effects language-icons"
                                aria-hidden="true"
                                data-language-target="englishButton"
                                data-action="click->language#toggleLanguage"
                                data-language="en"
                            {% endblock %}
                        {% endembed %}
                    </a>
                </div>
            </div>
        </div>

        <button type="button" class="btn" aria-label="{{ 'actions.close_menu' | trans }}"
                data-action="click->navigation#close"
        >
            {{ 'actions.close_menu' | trans }}
        </button>
    </div>
</nav>