<div class="overlay" data-navigation-target="overlay"></div>

<nav id="navigation" class="navigation__container"
    data-navigation-target="menu"
>
    <div>
        <ul class="navigation__container-list">
            <li class="link-effects navigation__container-list-item" aria-label="{{ 'return_to_home' | trans }}"
                data-action="click->navigation#redirect"
                data-url="{{ path('app_main_index') }}"
            >
                {{ 'home' | trans }}
            </li>
            <li class="link-effects navigation__container-list-item" aria-label="{{ 'portfolio_aria' | trans }}"
                data-action="click->navigation#redirect"
                data-url="{{ path('app_main_index') }}"
                data-url-anchor="home-portfolio"
            >
                {{ 'portfolio' | trans }}
            </li>
            <li class="link-effects navigation__container-list-item" aria-label="{{ 'reviews_aria' | trans }}"
                data-action="click->navigation#redirect"
                data-url="{{ path('app_main_index') }}"
                data-url-anchor="home-reviews"
            >
                {{ 'reviews' | trans }}
            </li>
            <li class="link-effects navigation__container-list-item" aria-label="{{ 'contact_aria' | trans }}"
                data-action="click->navigation#redirect"
                data-url="{{ path('app_main_index') }}"
                data-url-anchor="home-contact"
            >
                {{ 'contact' | trans }}
            </li>

            <li class="navigation__container-list-item navigation__container-list-item-about">
                <div class="link-effects navigation__container-list-item-about-title"
                     data-action="click->navigation#toggleDropdown"
                >
                    <span>{{ 'about_me' | trans }}</span>
                    {% embed 'assets/svg/arrow-right.html.twig' %}
                        {% block attributes %}
                            aria-hidden="true"
                            data-navigation-target="arrow"
                        {% endblock %}
                    {% endembed %}
                </div>

                <ul class="navigation__container-list-item-about-dropdown"
                    data-navigation-target="dropdown"
                >
                    <li>
                        <a href="https://www.linkedin.com/in/gaelpa/" target="_blank" rel="noopener" aria-label="{{ 'linkedin_profile_aria' | trans }}">
                            {% embed 'assets/svg/linkedin.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'linkedin_profile' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Galuss1" target="_blank" rel="noopener" aria-label="{{ 'github_profile_aria' | trans }}">
                            {% embed 'assets/svg/github.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'github_profile' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ asset('docs/CV_Gael_Paquien.pdf') }}" target="_blank" aria-label="{{ 'see_resume' | trans }}">
                            {% embed 'assets/svg/resume.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'resume' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:contact@gaelpaquien.com" aria-label="{{ 'send_mail' | trans }}">
                            {% embed 'assets/svg/mail.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'author_mail' | trans }}
                        </a>
                    </li>
                </ul>
            </li>

            <li class="navigation__container-list-item navigation__container-list-item-about">
                <div class="link-effects navigation__container-list-item-about-title"
                     data-action="click->navigation#toggleDropdown"
                >
                    <span>{{ 'about_site' | trans }}</span>
                    {% embed 'assets/svg/arrow-right.html.twig' %}
                        {% block attributes %}
                            aria-hidden="true"
                            data-navigation-target="arrow"
                        {% endblock %}
                    {% endembed %}
                </div>

                <ul class="navigation__container-list-item-about-dropdown"
                    data-navigation-target="dropdown"
                >
                    <li>
                        <a href="{{ path('app_main_legal_notice') }}" aria-label="{{ 'legal_notice_aria' | trans }}">
                            {% embed 'assets/svg/arrow-right.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'legal_notice' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_main_privacy_policy') }}" aria-label="{{ 'privacy_policy_aria' | trans }}">
                            {% embed 'assets/svg/arrow-right.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'privacy_policy' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_main_sitemap') }}" aria-label="{{ 'sitemap_aria' | trans }}">
                            {% embed 'assets/svg/arrow-right.html.twig' %}
                                {% block attributes %}aria-hidden="true"{% endblock %}
                            {% endembed %}
                            {{ 'sitemap' | trans }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <hr>

        <div class="navigation__container-settings">
            <div class="navigation__container-settings-item">
                <span>{{ 'theme' | trans }} :</span>
                <div>
                    {% embed 'assets/svg/light.html.twig' %}
                        {% block attributes %}
                            class="icon-effects btn-light-mode"
                            aria-label="{{ 'theme_light' | trans }}"
                            data-theme="light"
                            data-themes-target="lightButton"
                            data-action="click->themes#toggleTheme"
                        {% endblock %}
                    {% endembed %}
                    {% embed 'assets/svg/separator.html.twig' %}
                        {% block attributes %}
                            class="separator"
                            aria-hidden="true"
                        {% endblock %}
                    {% endembed %}
                    {% embed 'assets/svg/moon.html.twig' %}
                        {% block attributes %}
                            class="icon-effects btn-dark-mode"
                            aria-label="{{ 'theme_dark' | trans }}"
                            data-theme="dark"
                            data-themes-target="darkButton"
                            data-action="click->themes#toggleTheme"
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>

            <div class="navigation__container-settings-item">
                <span>{{ 'language' | trans }} :</span>
                <div>
                    <a href="{{ path('app_change_locale', { 'locale': 'fr' }) }}" aria-label="{{ 'translate_fr' | trans }}">
                        {% embed 'assets/svg/flag-fr.html.twig' %}
                            {% block attributes %}
                                class="icon-effects language-icons"
                                aria-hidden="true"
                                data-language-target="frenchButton"
                                data-action="click->language#toggleLanguage"
                                data-language="fr"
                            {% endblock %}
                        {% endembed %}
                    </a>
                    {% embed 'assets/svg/separator.html.twig' %}
                        {% block attributes %}
                            class="separator"
                            aria-hidden="true"
                        {% endblock %}
                    {% endembed %}
                    <a href="{{ path('app_change_locale', { 'locale': 'en' }) }}" aria-label="{{ 'translate_en' | trans }}">
                        {% embed 'assets/svg/flag-en.html.twig' %}
                            {% block attributes %}
                                class="icon-effects language-icons"
                                aria-hidden="true"
                                data-language-target="englishButton"
                                data-action="click->language#toggleLanguage"
                                data-language="en"
                            {% endblock %}
                        {% endembed %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn" aria-label="{{ 'close_menu' | trans }}"
        data-action="click->navigation#close"
    >
        {{ 'close' | trans }}
    </button>
</nav>