<div class="fade-in-effects-initial blog__container-card-list-item scale-effects"
     data-animation-fade-in-target="fadeIn"
     data-animation="fade-in-up-effects"
     data-card-target="card"
     data-action="click->card#pressCard"
     data-url="{{ path('app_blog_show', {'slug': slug}) }}"
>
    <div class="blog__container-card-list-item-image">
        <img src="{{ asset('images/pages/blog/articles/' ~ (image ?: 'default.webp')) }}" alt="{{ image_alt }}">
    </div>
    <div class="blog__container-card-list-item-content">
        <h2 class="blog__container-card-list-item-content-title">{{ title }}</h2>
        <div class="blog__container-card-list-item-content-excerpt">
            <p>{{ short_description }}</p>
        </div>
        <div class="blog__container-card-list-item-content-meta">
            <p class="blog__container-card-list-item-content-meta-date">{{ 'blog.last_update' | trans }} {{ updated_at }}</p>
        </div>
    </div>
</div>