<div class="footer__container">
    <div class="fade-in-effects-initial"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-left-effects"
    >
        <div class="footer__container-about">
            <div class="footer__container-about-title">
                {% embed 'assets/svg/logo.html.twig' %}
                    {% block attributes %}
                        aria-labelledby="footer__container-about-title-h2"
                    {% endblock %}
                {% endembed %}
                <h2 id="footer__container-about-title-h2">{{ 'info.site.name' | trans }}</h2>
            </div>
            <p class="footer__container-about-text">
                &copy 2024-{{ 'now' | date('Y') }} - {{ 'footer.copyright' | trans }}.
            </p>
        </div>
    </div>

    <div class="fade-in-effects-initial"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-left-effects"
    >
        <div class="footer__container-contact">
            <div class="footer__container-contact-title">
                {% embed 'assets/svg/discussion.html.twig' %}
                    {% block attributes %}
                        aria-labelledby="footer__container-contact-title-h2"
                    {% endblock %}
                {% endembed %}
                <h2 id="footer__container-contact-title-h2">{{ 'footer.contact_title' | trans }}</h2>
            </div>
            <ul class="footer__container-contact-list">
                <li class="link-effects footer__container-contact-list-item">
                    <a href="mailto:{{ 'info.author.email' | trans }}" aria-label="{{ 'actions.send_mail' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                        {{ 'info.author.email' | trans }}
                    </a>
                </li>
                <li class="link-effects footer__container-contact-list-item">
                    <a href="https://calendly.com/gaelpaquien/meeting" target="_blank" rel="noopener" aria-label="{{ 'actions.schedule_meeting' | trans }}">
                        {{ 'actions.schedule_meeting' | trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="fade-in-effects-initial"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-right-effects"
    >
        <div class="footer__container-company">
            <div class="footer__container-company-title">
                {% embed 'assets/svg/building.html.twig' %}
                    {% block attributes %}
                        aria-labelledby="footer__container-company-title-h2"
                    {% endblock %}
                {% endembed %}
                <h2 id="footer__container-company-title-h2">{{ 'footer.company_title' | trans }}</h2>
            </div>
            <p class="footer__container-company-text">
                {{ 'info.company.business_type' | trans }}<br>
                {{ 'info.company.siret' | trans }}<br>
                {{ 'info.company.vat' | trans }}
            </p>
        </div>
    </div>

    <div class="fade-in-effects-initial"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-right-effects"
    >
        <div class="footer__container-links">
            <ul class="footer__container-links-social">
                <li class="footer__container-links-social-item">
                    <a href="mailto:{{ 'info.author.email' | trans }}" aria-label="{{ 'actions.send_mail' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                        {% embed 'assets/svg/mail.html.twig' %}
                            {% block attributes %}
                                class="scale-effects"
                                aria-hidden="true"
                            {% endblock %}
                        {% endembed %}
                    </a>
                </li>
                <li class="footer__container-links-social-item">
                    <a href="https://www.linkedin.com/in/gaelpaquien/" target="_blank" rel="noopener" aria-label="{{ 'navigation.linkedin_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                        {% embed 'assets/svg/linkedin.html.twig' %}
                            {% block attributes %}
                                class="scale-effects"
                                aria-hidden="true"
                            {% endblock %}
                        {% endembed %}
                    </a>
                </li>
                <li class="footer__container-links-social-item">
                    <a href="https://github.com/gaelpaquien" target="_blank" rel="noopener" aria-label="{{ 'navigation.github_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                        {% embed 'assets/svg/github.html.twig' %}
                            {% block attributes %}
                                class="scale-effects"
                                aria-hidden="true"
                            {% endblock %}
                        {% endembed %}
                    </a>
                </li>
                <li class="footer__container-links-social-item">
                    <a href="{{ asset('docs/' ~ resume_file) }}" target="_blank" aria-label="{{ 'navigation.resume_aria' | trans({'%info.author.name%': 'info.author.name' | trans}) }}">
                        {% embed 'assets/svg/resume.html.twig' %}
                            {% block attributes %}
                                class="scale-effects"
                                aria-hidden="true"
                            {% endblock %}
                        {% endembed %}
                    </a>
                </li>
            </ul>

            <ul class="footer__container-links-various">
                <li class="footer__container-links-various-item">
                    <a class="link-effects" href="{{ path('app_main_legal_notice') }}" aria-label="{{ 'navigation.legal_notice_aria' | trans }}">
                        {{ 'navigation.legal_notice' | trans }}
                    </a>
                </li>
                <li class="footer__container-links-various-item">
                    <a class="link-effects" href="{{ path('app_main_privacy_policy') }}" aria-label="{{ 'navigation.privacy_policy_aria' | trans }}">
                        {{ 'navigation.privacy_policy' | trans }}
                    </a>
                </li>
                <li class="footer__container-links-various-item">
                    <a class="link-effects" href="{{ path('app_main_sitemap') }}" aria-label="{{ 'navigation.sitemap_aria' | trans }}">
                        {{ 'navigation.sitemap' | trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>