<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% set locale = app.request.locale %}

        <meta charset="UTF-8">

        <!-- Canonical -->
        <link rel="canonical" href="{{ app.request.uri }}">

        <!-- Robots -->
        <meta name="robots" content="{% block robots %}index, follow{% endblock %}">

        <!-- Device -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5">
        <meta name="format-detection" content="telephone=yes">
        <meta name="theme-color" content="#0a111f"> <!-- theme-color is dynamically updated with themes_controller.js -->

        <!-- Title -->
        <title>{% block title %}{{ 'site_name' | trans }}{% endblock %}</title>

        <!-- About this site -->
        <meta name="author" content="{{ 'site_author' | trans }}">
        <meta name="description" content="{% block description %}{{ 'site_description' | trans }}{% endblock %}">

        <!-- Favicons -->
        <link rel="icon" type="image/png" sizes="48x48" href="{{ asset('images/favicons/favicon-48x48.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicons/favicon-16x16.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-touch-icon-180x180.png') }}">

        <!-- Fonts -->
        <link rel="preload" href="{{ asset('fonts/MadimiOne-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ asset('fonts/Chivo-SemiBold.woff2') }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ asset('fonts/Poppins-Medium.woff2') }}" as="font" type="font/woff2" crossorigin>

        <!-- Open Graph -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:locale" content="{{ locale }}">
        <meta property="og:title" content="{% block og_title %}{{ 'site_title' | trans }}{% endblock %}">
        <meta property="og:description" content="{% block og_description %}{{ 'site_description' | trans }}{% endblock %}">
        {% set og_image = locale == 'fr' ? 'images/seo/default-fr.png' : 'images/seo/default-en.png' %}
        <meta property="og:image" content="{% block og_image %}{{ asset(og_image) }}{% endblock %}">

        <!-- Twitter/X -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@gaelpaquien">
        <meta name="twitter:title" content="{% block twitter_title %}{{ 'site_title' | trans }}{% endblock %}">
        <meta name="twitter:description" content="{% block twitter_description %}{{ 'site_description' | trans }}{% endblock %}">
        {% set twitter_image = locale == 'fr' ? 'images/seo/default-fr.png' : 'images/seo/default-en.png' %}
        <meta name="twitter:image" content="{% block twitter_image %}{{ asset(twitter_image) }}{% endblock %}">

        <!-- Custom assets -->
        {% block assets %}{% endblock %}

        <!-- AssetMapper -->
        {% block mapper %}{{ importmap('app') }}{% endblock %}
    </head>

    <body data-controller="animation-fade-in scroll"
        data-animation-fade-in-margin-value="0px 0px -20px 0px"
        data-scroll-margin-value="50"
        data-scroll-header-selector-value=".header"
        data-scroll-scroll-threshold-value="100"
        data-scroll-show-class-value="visible"
    >
        <div data-controller="navigation">
            <header class="header">
                {% include "_partials/_header.html.twig" %}
            </header>

            {% include "_partials/_navigation.html.twig" %}
        </div>

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include "components/button-scroll-to-top.html.twig" %}

        <footer>
            {% include "_partials/_footer.html.twig" %}
        </footer>
    </body>
</html>